
<!--
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
-->

<h1>Colors</h1>

<div class="preview-colors">
<span class="color-blue">.color-blue</span>
<span class="color-green">.color-green</span>
<span class="color-green-dark">.color-green-dark</span>
<span class="color-red">.color-red</span>
<span class="color-red-dark">.color-red-dark</span>
</div>


<h1>Labels</h1>

<div class="container-500">

  <div class="widget-label widget-label--xl">

    <h2 class="header">All Test Scenarios</h2>
    <div class="state state--passed">Passed</div>
    <div class="stats">
      <div class="stats-left">
        <em>72</em> Scenarios <br>
        <em>3</em> Viewports
      </div>
      <div class="stats-right">
        <em>Last Run</em><br>
        2h 36min ago
      </div>
    </div>

  </div>

</div>

<h1>Buttons</h1>
<button class="button button--dark">Dark</button>
<button class="button button--white">White</button>
<button class="button button--accent1">Accent1</button>
<button class="button button--accent2">Accent2</button>

<h1>Form buttons</h1>

<div class="horizontal-fields-container">
  <button class="input-box-button input-box-button--primary anim-bounce-on-click">input-box-button--primary</button>
  <button class="input-box-button input-box-button--secondary anim-bounce-on-click">input-box-button--secondary</button>
  <button class="input-box-button input-box-button--danger anim-bounce-on-click">input-box-button--danger</button>
  <button class="input-box-button input-box-button--in-progress">input-box-button--in-progress</button>
  <button class="input-box-button input-box-button--disabled">input-box-button--disabled</button>
</div>


<h1>Headers</h1>

<div class="container-500">

  <div class="column-header">
    <h2>Favorite Scenarios</h2>
    <span>
      <span class="action">View All</span>
      <span class="action action--active">Latest</span>
      <span class="action">Passed</span>
      <span class="action">Failed</span>
    </span>
  </div>

</div>


<h1>Inputs</h1>

<div class="text-field text-field--150">
  <label for="input">Label 150</label>
  <div class="input-box">
    <input type="text" id="input" placeholder="">
  </div>
</div>

<div class="text-field text-field--350">
  <label for="input350">Label 350</label>
  <div class="input-box">
    <input type="text" id="input350" placeholder="">
  </div>
</div>

<div class="text-field text-field--500">
  <label for="input500">Label 500</label>
  <div class="input-box">
    <input type="text" id="input500" placeholder="">
  </div>
</div>

<div class="text-field text-field--full">
  <label for="input-full">Label full</label>
  <div class="input-box">
    <input type="text" id="input-full" placeholder="">
  </div>
</div>

<div class="text-field text-field--350">
  <label for="input-ph">Placeholder</label>
  <div class="input-box">
    <input type="text" id="input-ph" placeholder="Something here">
  </div>
</div>

<div class="text-field text-field--error text-field--350">
  <label for="input-err">Error state</label>
  <div class="input-box">
    <input type="text" id="input-err" placeholder="placeholder">
  </div>
  <p class="error-message">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex officia eius nemo alias, ea delectus voluptatem perspiciatis nobis modi neque.</p>
</div>

<div class="text-field text-field--350">
  <label for="input-twb">Textbox With Button <i class="far fa-question-circle"></i></label>
  <p class="description">[required] Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, deserunt!</p>
  <div class="input-box">
    <input type="text" id="input-twb" placeholder="0.1">
    <button class="input-box-button">Reset</button>
  </div>
</div>

<div class="text-field text-field--350">
  <label for="input-wti">Textbox With Icon <i class="far fa-question-circle"></i></label>
  <p class="description">[required] Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, deserunt!</p>
  <div class="input-box">
    <input type="text" id="input-wti" placeholder="https://my.domain">
    <i class="input-box-icon fas fa-external-link-alt"></i>
  </div>
</div>


<div class="text-field text-field--350">
  <label for="input-twc">Textbox With Chips</label>
  <div class="input-box">
    <span class="input-box-chips">value1 <i class="fas fa-times"></i></span>
    <span class="input-box-chips">value2 <i class="fas fa-times"></i></span>
    <input type="text" id="input-twc" placeholder="value1, value2">
    <i class="input-box-icon fas fa-times"></i>
  </div>
</div>


<h1>Alerts</h1>

<p class="error-alert">
  You have to have at least one viewport to run tests.
</p>



<h1>Checkboxes</h1>

<div class="checkbox-field">
  <input type="checkbox" name="checkbox1" id="checkbox1">
  <label for="checkbox1"></label>
  <span>Passed in the last run</span>
</div>

<div class="checkbox-field">
  <input type="checkbox" name="" id="checkbox2" checked>
  <label for="checkbox2"></label>
  <span>Failed in the last run</span>
</div>


<h1>Cards</h1>

<div class="card-sm">
  <div class="image">
    <img src="https://images.unsplash.com/photo-1559589689-577aabd1db4f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
  </div>
  <div class="info-panel">
    <div class="info">
      <div class="header">Card Title</div>
      <div class="label label--passed">Valid</div>
      <div class="description">1234 1234 1234 1234 1234 1234 1234 1234 1234 1234 1234 1234 <span class="more">+100 <i class="hidden-more">5678</i></span></div>
    </div>
    <div class="actions">
      <span>Play <i class="fas fa-play"></i></span>
      <span>Latest results</span>
    </div>
  </div>
</div>

<div class="card-sm">
  <div class="image">
    <img src="https://images.unsplash.com/photo-1507146153580-69a1fe6d8aa1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
  </div>
  <div class="info-panel">
    <div class="info">
      <div class="header">Card Title</div>
      <div class="label label--failed">Invalid</div>
      <div class="description">1234 <span class="more">+5 <i class="hidden-more">5678 91011 12131 41516 17181 92021 91011 12131 41516 17181 92021 91011 12131 41516 17181 92021</i></span></div>
    </div>
    <div class="actions">
      <span>Play <i class="fas fa-play"></i></span>
      <span>Latest results</span>
    </div>
  </div>
</div>

<div class="separate-blocks"></div>


<div class="container-500">

  <div class="card-sm">
    <div class="image">
      <img src="https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/27d32389267827.5df0b971656d7.png" alt="">
    </div>
    <div class="info-panel">
      <div class="info">
        <div class="header">Card Title</div>
        <div class="label label--passed">Valid</div>
        <div class="description">1234 1234 <span class="more">+100 <i class="hidden-more">5678</i></span></div>
      </div>
      <div class="actions">
        <span>Play <i class="fas fa-play"></i></span>
        <span>Latest results</span>
      </div>
    </div>
  </div>

</div>

<div class="container-full">

  <div class="card-sm">
    <div class="image">
      <img src="https://images.unsplash.com/photo-1555212697-194d092e3b8f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
    </div>
    <div class="info-panel">
      <div class="info">
        <div class="header">Card Title</div>
        <div class="label label--passed">Valid</div>
        <div class="description">1234 1234 <span class="more">+100 <i class="hidden-more">5678</i></span></div>
      </div>
      <div class="actions">
        <span>Play <i class="fas fa-play"></i></span>
        <span>Latest results</span>
      </div>
    </div>
  </div>

</div>


<div class="separate-blocks"></div>


<div class="card-md">
  <div class="image image--passed">
    <img src="https://images.unsplash.com/photo-1588826967064-3cb37f328a7c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
    <i class="favorite-icon far fa-heart"></i>
    <i class="delete-icon fas fa-trash"></i>
  </div>
  <div class="header">
    <span class="left">Card Title <i class="fas fa-play"></i></span>
    <span class="right">
      <i class="far fa-square"></i>
      <i class="failed fas fa-times"></i>
      <i class="far fa-square"></i>
      <i class="far fa-square"></i>
      <i class="far fa-square"></i>
    </span>
  </div>
</div>

<div class="card-md">
  <div class="image image--failed">
    <img src="https://images.unsplash.com/photo-1548874469-e00904323872?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80" alt="">
    <i class="favorite-icon far fa-heart"></i>
    <i class="delete-icon fas fa-trash"></i>
  </div>
  <div class="header">
    <span class="left">Card Title <i class="fas fa-play"></i></span>
    <span class="right">
      <i class="far fa-square"></i>
      <i class="failed fas fa-times"></i>
      <i class="far fa-square"></i>
      <i class="far fa-square"></i>
      <i class="far fa-square"></i>
    </span>
  </div>
</div>


<div class="separate-blocks"></div>

<div class="card-lg">
  <div class="image mouse--over">
    <img class="main-image" src="https://images.unsplash.com/photo-1587491717198-815e18b0364c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
    <img class="hover-image" src="https://images.unsplash.com/photo-1587033411391-5d9e51cce126?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80" alt="">
    <div class="tags">
      <span class="tag tag--active">tag1</span>
      <span class="tag">tag2</span>
      <span class="tag">tag3</span>
    </div>
  </div>
  <div class="info-panel">
    <div class="left">
      <div class="header">Card Header</div>
      <div class="label label--passed">Valid</div>
    </div>
    <div class="right">
      <button class="card-button">Approve</button>
    </div>
  </div>
</div>

<div class="card-lg">
  <div class="image">
    <img src="https://images.unsplash.com/photo-1587033411391-5d9e51cce126?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80" alt="">
    <div class="tags">
      <span class="tag tag--active">tag1</span>
      <span class="tag">tag2</span>
      <span class="tag">tag3</span>
    </div>
  </div>
  <div class="info-panel">
    <div class="left">
      <div class="header">Card Header</div>
      <div class="description">
        <span class="label label--failed">Invalid</span> Lorem ipsum dolor, sit amet consectetur adipisicing elit
      </div>
    </div>
    <div class="right">
      <button class="card-button">Approve</button>
    </div>
  </div>
</div>


<div class="card-lg">
  <div class="image">
    <img src="https://images.unsplash.com/photo-1587033411391-5d9e51cce126?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80" alt="">
    <div class="tags">
      <span class="tag tag--active">tag1</span>
      <span class="tag">tag2</span>
      <span class="tag">tag3</span>
    </div>
  </div>
  <div class="info-panel">
    <div class="left">
      <div class="header">Very_Long_Title_Very_Long_Title_Very_Long_Title_Very_Long_Title_Very_Long_Title_Very_Long_Title</div>
      <div class="description">
        <span class="label label--failed">Invalid</span> Lorem_ipsum_dolor_sit_amet,_consectetur_adipisicing_elit._Amet_architecto_assumenda_at_consectetur_consequatur_deserunt_dicta_dolor_doloribus_earum_illo_impedit_ipsum_labore,_laborum_necessitatibus_obcaecati_rem_repellat_reprehenderit_saepe!
      </div>
    </div>
    <div class="right">
      <button class="card-button">Approve</button>
    </div>
  </div>
</div>



<h1>Info Table</h1>

<table class="info-table">
  <tr><td class="label-cell">Scenarios</td><td class="value-cell"> Wanstrow, Hembridge</td></tr>
  <tr><td class="label-cell">Viewports</td><td class="value-cell">
    <span>Evercreech</span>
    <span>Shepton Mallet</span>
    <span>Brewham</span>
  </td></tr>
  <tr><td class="label-cell">Run by</td>   <td class="value-cell"> Westcombe</td></tr>
</table>



<h1>Table Cells</h1>

<table>
  <tr>
    <td>

      <div class="status-cell">
        <div class="status-icon status-icon--passed">
          <i class="fas fa-check-circle"></i>
        </div>
        <div class="labels">
          <div class="time-label">3 min ago</div>
          <div class="state-label">Running now...</div>
        </div>
      </div>

    </td>
    <td>

      <div class="user-cell">
        <div class="upic">JA</div>
        <span class="text">Jonathan Amos</span>
      </div>

    </td>
  </tr>

  <tr>
    <td>

      <div class="status-cell">
        <div class="status-icon status-icon--failed">
          <i class="far fa-times-circle"></i>
        </div>
        <div class="labels">
          <div class="time-label">Yesterday, at 12:23 AM</div>
          <div class="state-label">2 of 3 cases are failed</div>
        </div>
      </div>

    </td>
    <td>

      <div class="action-cell action-cell--right">
        <i class="action-cell-icon fas fa-times"></i>
      </div>

    </td>
  </tr>

  <tr>
    <td>

      <div class="status-cell">
        <div class="status-icon status-icon--approved">
          <i class="fas fa-check"></i>
        </div>
        <div class="labels">
          <div class="time-label">12/31/2019 11:27:10 PM</div>
          <div class="state-label">Validated</div>
        </div>
      </div>

    </td>
    <td>

      <div class="more-cell">
        <span class="text">Rat Race</span>
        <span class="more">+3 <span class="hidden-more">Friends with Benefits, Fair Game, A Walk in the Clouds</span></span>
      </div>

    </td>
  </tr>

</table>

<h1>Widgets</h1>

<div class="widget widget--blue">
  <div class="widget-header">Today</div>
  <div class="widget-value widget-value--lg">
    Lorem ipsum
    <br>
    <i class="far fa-thumbs-up"></i>
  </div>
</div>

<div class="widget widget--steel widget--double">
  <div class="widget-header">Most fragile case of the week</div>
  <div class="widget-value widget-value--fragile">

    <div class="fragile-value">Lorem ipsum dolor sit amet dolor sit ame</div>
    <div class="fragile-value fragile-value--accent"><em>+73%</em> of lorem</div>
  </div>

  <img class="fragile-preview" src="https://images.unsplash.com/photo-1584901723137-bde3633dc2c2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">

</div>

<div class="widget widget--gray">
  <div class="widget-header">Recently failed</div>
  <div class="widget-value">
    Lorem ipsum dolor <br>
    sit amet
    <br>
    <button class="button button--white">Retry op</button>
  </div>
</div>

<div class="widget widget--green widget--double">
  <div class="widget-header">This week</div>
  <div class="widget-value widget-value--stats">

    <div class="stats-value">52% Passed</div>
    <div class="stats-sub">+7% to previouse week</div>
    <div class="stats-chart">
      <div style="height: 14%" title="14% - 12 Jan" class="bar"></div>
      <div style="height: 28%" title="28% - 19 Jan" class="bar"></div>
      <div style="height: 36%" title="26% - 26 Jan" class="bar"></div>
      <div style="height: 35%" title="35%" class="bar"></div>
      <div style="height: 34%" title="34%" class="bar"></div>
      <div style="height: 20%" title="20%" class="bar"></div>
      <div style="height: 83%" title="83%" class="bar bar--hl"></div>
      <div style="height: 87%" class="bar bar--hl"></div>
      <div style="height: 81%" class="bar bar--hl"></div>
      <div style="height: 77%" class="bar"></div>
      <div style="height: 21%" class="bar"></div>
      <div style="height: 20%" class="bar"></div>
      <div style="height: 23%" class="bar"></div>
      <div style="height: 87%" class="bar bar--hl"></div>
      <div style="height: 81%" class="bar bar--hl"></div>
      <div style="height: 80%" class="bar bar--hl"></div>
      <div style="height: 76%" class="bar"></div>
      <div style="height: 82%" class="bar bar--hl"></div>
      <div style="height: 60%" class="bar"></div>
      <div style="height: 25%" class="bar"></div>
      <div style="height: 70%" class="bar"></div>
      <div style="height: 90%" class="bar bar--hl"></div>
      <div style="height: 85%" class="bar bar--hl"></div>
      <div style="height: 75%" class="bar"></div>
      <div style="height: 77%" class="bar"></div>
    </div>

  </div>
</div>

<div class="widget widget--white">
  <div class="widget-header">Already</div>
  <div class="widget-value widget-value--accent">
    <span><em>32</em>Lorem ipsum dolor</span>
  </div>
</div>

