:host {
  width: 100%;

  --background-gradient1: hsl(249, 12%, 49%);
  --background-gradient2: #c5cdf7;
  --background-gradient: linear-gradient(25deg, var(--background-gradient1), var(--background-gradient2));
  --background-dark: hsl(249, 26%, 10%);

  --font-default: #fff;
  --font-accent: hsla(60, 77%, 56%, 1);
  --accent: hsl(0, 65%, 49%);

  --light: #3d4750;
  --dark: #121212;
}

*, *:after, *:before {
  box-sizing: border-box;
}

.view-container {
  display: flex;
  width: 100%;
  height: 100%;
  background: var(--background-gradient);
}

h1 {
  margin: 0;
  font-family: Signika, sans-serif;
  font-size: 32px;
  letter-spacing: 0.5px;
  color: var(--font-accent);
}
p {
  line-height: 1.7;
  font-family: Ubuntu, sans-serif;
  font-weight: 300;
  font-size: 16px;
}
hr {
  height: 1px;
  border-top: none;
  border-color: var(--light);
  margin: 23px 0;
}
.row {
  display: flex;
  width: 100%;
  margin-bottom: .75em;
}
label {
  font-family: Ubuntu, sans-serif;
  font-size: 16px;
  font-weight: 400;
}
/* http://dimox.name/custom-checkboxes-and-radio-buttons-using-css-only/ */
.checkbox {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.checkbox + label:hover {
  color: hsla(60, 77%, 56%, 1);
}
.checkbox:not(:checked) + label:hover:before  {
  content: ' ';
  position: absolute;
  left: 0;
  top: 1px;
  width: 16px;
  height: 16px;
  background: transparent;
  border: 1px solid hsla(60, 77%, 56%, 1);
}
.checkbox + label {
  padding-left: 28px;
  position: relative;
}
.checkbox:not(:checked) + label:before {
  content: ' ';
  position: absolute;
  left: 0;
  top: 1px;
  width: 16px;
  height: 16px;
  background: transparent;
  border: 1px solid white;
}
.checkbox:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 1px;
  width: 16px;
  height: 16px;
  border: 1px solid var(--accent);
  border-radius: 0;
}
.checkbox:checked + label:after {
  content: '';
  position: absolute;
  left: 6px;
  top: 7px;
  width: 4px;
  height: 4px;
  background: var(--accent);
}

.checkbox:checked {
  opacity: 0;
}
.text-input {
  width: 100%;
  padding: 7px 16px;
  font-family: Ubuntu, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: white;
  border: 1px solid white;
  background: transparent;
  transition: border-color .25s;
}
.button {
  padding: 7px 16px;
  font-family: Ubuntu, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: white;
  cursor: pointer;
  transition: border-color .25s;
}
.text-input + .text-input,
.button + .button {
  margin-left: .5em;
}
.button--red {
  background-color: var(--accent);
  border: 1px solid var(--accent);
}
.button--default {
  background: var(--background-dark);
  border: 1px solid white;
}
.button--red:hover,
.button--default:hover {
  border: 1px solid hsla(60, 77%, 56%, 1);
}
.app-sidebar {
  width: 20%;
  background: var(--background-dark);
  color: var(--font-default);
  padding: 30px;
}
.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.title {
  font-family: Ubuntu, sans-serif;
  font-weight: 500;
  font-size: 0.85em;
  margin: .75em;
  color: var(--dark);
  display: flex;
  justify-content: space-between;
}
.frame {
  overflow-y: auto;
  border-radius: 15px;
  border: 6px solid var(--dark);
  box-shadow:
    0 15px 50px 20px rgba(0, 0, 0, 0.15),
    0 10px 20px 10px rgba(0, 0, 0, 0.10),
    0 3px 10px 5px rgba(0, 0, 0, 0.05);
  background: var(--background-dark);

  transition: width 0.25s, height 0.25s;
}

.frame--full {

  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 100;
}

.w800 { width: 800px; }
.h600 { height: 600px; }

.w800sm { width: 400px; }
.h600sm { height: 300px; }

.img {
  width: 100%;
}

.scroll::-webkit-scrollbar-track {
  border-radius: 6px;
  background-color: #eee;
}

.scroll::-webkit-scrollbar {
  padding: 6px 0;
  width: 6px;
  border-radius: 6px;
  background-color: #eee;
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #888;
}
