main {
  width: 100%;
  flex: 1;
  display: flex;
  z-index: 1;
  min-height: 100%;
}

main .content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
main .content .row {
  display: flex;
  padding-left: 60px;
  padding-right: 60px;
}

@media (max-width: 600px)  {
  main .content .row {
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.widgets-row {
  justify-content: space-evenly;
  height: 55vh;
  position: relative;
  z-index: 1;
}
.widgets-row:before {
  position: absolute;
  content: ' ';
  top: 0;
  left: 0;
  width: 100%;
  background: #eee;
  z-index: -1;
  bottom: 25%;
}
.widgets-row .action {
  position: absolute;
  bottom: 25%;
}
.widgets-row .column {
  height: 100%;
  width: 100%;
  position: relative;
}

.widgets-row .widgets-grid {
  width: 51vw;
}
.data-row .column-1,
.data-row .column-2 {
  flex: 1;
}
.data-row .column-1 .card {
  width: 50%;
  height: 160px;
  float: left;
}
@media (max-width: 600px)  {
  .data-row .column-1 .card {
    width: 100%;
  }
}
.data-row .record {
  height: 70px;
}
.row-title {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  border: 1px dashed blue;
}

main .content .row > * {
  border: 1px dashed blue;
}

@media (max-width: 600px) {

  main .content { margin-top: var(--navbar-size-xs); }
}
