<div class="text-field text-field--350">
  <label>{{ label }}
    <app-icon *ngIf="tooltip" icon="Help"></app-icon>
    <!--<i *ngIf="!tooltip" [attr.tooltip]="tooltip" class="far fa-question-circle"></i>-->
  </label>
  <p *ngIf="description" class="description">{{ description }}</p>
  <div class="input-box">

    <!-- Chips
        <span class="input-box-chips">value1 <app-icon icon="Close"></app-icon></span>
        <span class="input-box-chips">value2 <app-icon icon="Close"></app-icon></span>
     -->

    <input type="text"
           [attr.placeholder]="placeholder"
           [(ngModel)]="value"
           (ngModelChange)="ngModelChangeHandler($event, val)"
           #val>

    <app-icon
      *ngIf="fieldIcon"
      [icon]="fieldIcon"
      customClass="input-box-icon"
      (click)="iconClick.emit(value)"
    >
    </app-icon>

    <!-- Reset Button -->
    <button
      *ngIf="defaultValue"
      class="input-box-button"
      (click)="resetValueHandler()"
    >Reset</button>

    <!-- Clear icon -->
    <app-icon
      *ngIf="value != '' && !defaultValue && !fieldIcon"
      (click)="value = ''"
      icon="Close"
      customClass="input-box-icon">
    </app-icon>

  </div>
</div>
