<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <p>Task has been run successfully!</p>
    <pre>
        url: <%= data.url %>
        filter: <%= data.filter %>
    </pre>
    <p><a href="/">Go back</a></p>
</body>
