
<div class="left-side">
  <div class="stats-item">
    <div class="stats-item-title">Scenarios</div>
    <div class="stats-item-value">{{ casesCount }} Test Cases</div>
  </div>

  <div class="stats-item">
    <div class="stats-item-title">History</div>
    <div class="stats-item-value">34 Records</div>
  </div>

  <div class="stats-item">
    <div class="stats-item-title">Stability</div>
    <div class="stats-item-value">57% Successful</div>
  </div>
</div>

<div class="right-side">
  <img src="/assets/images/chart.png" alt="">
</div>
