:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-side {
  flex: 1;
  display: flex;
  align-items: center;
}

.right-side {}

.stats-item {
  padding: 20px 45px;
  font-size: 18px;
  height: 90px;
}
.stats-item:first-child {
  padding-left: 0;
}

.stats-item-title {
  font-weight: normal;
  color: #656565;
}

.stats-item-value {
  font-weight: bold;
  color: #656565;

}

.stats-item + .stats-item {
  border-left: 1px solid #C4C4C4;
}
