<app-sidebar
  [title]="'History'"
>

  <app-menu-section
    [icon]="'ballot'"
    [header]="'Completed jobs'"
    [items]="records$ | async"
    [selected]="selected"
    (itemClick)="selectRecordHandler($event)"
  >
  </app-menu-section>

</app-sidebar>

<div class="main-container">

  <div *ngFor="let t of (report$ | async)?.tests">
    <p>
      <a href="{{ t.pair.url }}" target="_blank" rel="nofollow noopener">{{ t.pair.label }}</a>
      <br>{{ t.pair.viewportLabel }}
      <br>
      Screenshots:
      <a *ngIf="t.pair.reference" href="{{storageUrl}}{{ t.pair.reference }}" target="_blank" rel="nofollow noopener">Reference</a> |
      <a *ngIf="t.pair.test" href="{{storageUrl}}{{ t.pair.test }}" target="_blank" rel="nofollow noopener">Test</a> |
      <a *ngIf="t.pair.diffImage" href="{{storageUrl}}{{ t.pair.diffImage }}" target="_blank" rel="nofollow noopener">Diff</a>
    </p>
    <p *ngIf="t.pair.engineErrorMsg">
      <em>Error: {{ t.pair.engineErrorMsg }}</em>
    </p>
    <p>
      Result: {{ t.status }}
      <button *ngIf="t.status === 'fail'" (click)="approveCase(t.pair)">Approve</button>
    </p>
    <img src="{{storageUrl}}{{ t.pair.test }}" alt="">
  </div>

</div>
