Resources:

  VrtDataS3Bucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: screenvrtdata

  AllowS3Policy:
    Type: AWS::S3::BucketPolicy
    Properties:
      Bucket:
        Ref: VrtDataS3Bucket
      PolicyDocument:
        Statement:
          - Action:
            - "s3:ListBucketVersions"
            - "s3:ListBucket"
            - "s3:GetObjectVersion"
            - "s3:GetObject"
            Effect: "Allow"
            Resource:
              Fn::Join:
                - ""
                -
                  - "arn:aws:s3:::"
                  -
                    Ref: "VrtDataS3Bucket"
                  - "/*"
            Principal:
              AWS: "arn:aws:iam::772145494782:role/aws-elasticbeanstalk-ec2-role"

container_commands:
  install_proxy:
    cwd: /var/app/staging/auth-proxy
    command: "npm i"
  install_backend:
    cwd: /var/app/staging/backend
    command: "npm i"
