Resources:
  AllowS3Policy:
    Type: AWS::S3::BucketPolicy
    Properties:
      Bucket:
        Ref: screensvrtdata
      PolicyDocument:
         -
            Action:
              - "s3:GetObject"
            Effect: "Allow"
            Resource:
              Fn::Join:
                - ""
                -
                  - "arn:aws:s3:::"
                  -
                    Ref: "screensvrtdata"
                  - "/*"
            Principal: "*"

container_commands:
  install_proxy:
    cwd: /var/app/staging/auth-proxy
    command: "npm i"
  install_backend:
    cwd: /var/app/staging/backend
    command: "npm i"
