Resources:
  AllowS3Policy:
    Type: AWS::S3::BucketPolicy
    Properties:
      Bucket: "arn:aws:s3:::vrtdata"
      PolicyDocument:
         -
            Action:
              - "s3:GetObject"
            Effect: "Allow"
            Resource: "arn:aws:s3:::vrtdata/*"
            Principal: "*"

container_commands:
  install_proxy:
    cwd: /var/app/staging/auth-proxy
    command: "npm i"
  install_backend:
    cwd: /var/app/staging/backend
    command: "npm i"
