<main>
  <div class="app-content">

    <div class="title-row">
      <h1 class="page-header">{{ title }}</h1> <ng-content select=".page-actions-placeholder"></ng-content>
    </div>
    <div class="page-description">
      {{ description }}
    </div>

    <div class="app-filters xs-only">
      <ng-content select=".xs-filters-placeholder"></ng-content>
    </div>

    <div class="app-actions">
      <ng-content select=".data-actions-placeholder"></ng-content>
    </div>

    <ng-content select=".data-placeholder"></ng-content>

  </div>
  <div class="app-sidebar except-xs">

    <ng-content select=".sidebar-placeholder"></ng-content>

  </div>
</main>
