/*
{
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}
*/

ul {
  padding: 0;
}
li {
  padding: 5px 10px;
  margin: 0;
  display: block;
}

:root {
  --navbar-size: 70px;
  --navbar-size-xs: 50px;
  --sidebar-size: 25vw;

  --card-height: 20vh;

  --humburger-width: 90%;
  --humburger-pos-right: 0px;
  --humburger-pos-top: 0px;
  --humburger-pos-left: none;
  --humburger-pos-bottom: none;

  --xs-size: 600px;
  --xs-title-actions-top: none;
  --xs-title-actions-right: 7vw;
  --xs-title-actions-left: none;
  --xs-title-actions-bottom: 2vh;

  --xs-data-placeholder-margin-bottom: 6vh;
}

.container.container--colorful { background: rgb(245, 245, 245); }
.container.container--colorful nav { background: rgb(232, 232, 241); }
.container.container--colorful nav .menu .logo { background: darkviolet; }
.container.container--colorful nav .account { background: gold; }
.container.container--colorful nav .humburger ul { background: indigo; }
.container.container--colorful nav .humburger ul li:hover { background: gold; }
.container.container--colorful nav .humburger ul li.account { background: gold; }
.container.container--colorful main .sidebar { background: rgb(240, 240, 240); }
.container.container--colorful main .sidebar .filters { background: rgb(255, 246, 251); }
.container.container--colorful main { background: rgb(255, 255, 255); }
.container.container--colorful main .content { background: rgb(255, 253, 249); }
.container.container--colorful main .content .description { background: rgb(217, 219, 223); }
.container.container--colorful main .content .filters { background: rgb(252, 246, 249); }
.container.container--colorful main .content .actions { background: rgb(233, 227, 217); }
.container.container--colorful main .content .title-row .title-header { background: rgb(255, 255, 255); }
.container.container--colorful main .content .title-actions-item { background: rgb(187, 187, 187); }
.container.container--colorful main .content .data-placeholder { background: rgb(255, 255, 255); }
.container.container--colorful main .content .data-placeholder .card { background: rgb(234, 245, 255); border: 1px solid rgb(180, 180, 180); }

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

nav {
  height: var(--navbar-size);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .menu {
  display: flex;
  align-items: center;
}
nav .menu .logo { }
nav .menu .menu-item { float: left; display: block; margin: 0;}
nav .account { }
nav .humburger { display: none; }

main {
  width: 100%;
  flex: 1;
  display: flex;
}
main .content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-right: 100px;
}
main .sidebar {
  width: var(--sidebar-size);
}
main .filters { }
main .actions { display: flex; justify-content: space-between; }
main .content .title-row {
  display: flex;
  justify-content: space-between;
}
main .content .title-row .title-actions { display: flex; flex-wrap: wrap; justify-content: flex-end; }
main .content .title-row .title-actions .title-actions-item {
  float: left;
  display: block;
}
main .content .data-placeholder {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow-y: auto;

  padding-top: 22px;
}
main .content .data-placeholder .card {
  height: var(--card-height);
  flex-basis: auto;
}

@media (min-width: 601px)  { .card { width: 33.333%; } }
@media (max-width: 600px)  { .xs12 { width: 100%; } }

@media (min-width: 601px)  { .xs-only { display: none; } }
@media (max-width: 600px)  { .xs-only { display: block; } }
@media (min-width: 601px)  { .except-xs { display: block; } }
@media (max-width: 600px)  { .except-xs { display: none; } }

@media (max-width: 600px) {

  nav {
    position: fixed;
    height: var(--navbar-size-xs);
  }
  nav .humburger { display: block; }
  nav .humburger .xs-menu { display: none; }
  nav .humburger .xs-menu .menu-item { padding: 0; display: block;}
  nav .humburger .xs-menu .menu-item.account { }
  nav .humburger:hover .xs-menu { display: block; }
  nav .humburger .xs-menu {
    position: fixed;
    top: var(--humburger-pos-top);
    right: var(--humburger-pos-right);
    left: var(--humburger-pos-left);
    bottom: var(--humburger-pos-bottom);
    z-index: 10;
    width: var(--humburger-width);
  }

  nav .menu .menu-item { display: none; }
  nav .account { display: none; }

  main .content {
    padding-left: 16px;
    padding-right: 16px;
    margin-top: var(--navbar-size-xs);
  }
  main .content .data-placeholder { margin-bottom: var(--xs-data-placeholder-margin-bottom); }
  main .content .title-row .title-actions {
    position: fixed;
    top: var(--xs-title-actions-top);
    right: var(--xs-title-actions-right);
    left: var(--xs-title-actions-left);
    bottom: var(--xs-title-actions-bottom);
    display: flex;
    flex-flow: wrap-reverse;
  }
}
