<app-sidebar-page-layout
  [title]="'Edit: ' + (title$ | async)"
  [description]="'Each scenario will test one page, component or action against one or many viewport sizes'"
  [breadcrumb]="true"
>

  <div class="breadcrumb-placeholder">
    <span class="breadcrumb-item breadcrumb-item--link" [routerLink]="['/scenarios']">Scenarios</span>
    <span class="breadcrumb-item">{{ title$ | async }}</span>
  </div>


  <div class="page-actions-placeholder">

    <ul class="page-actions">
      <li class="title-actions-item">
        <button class="button button--white" (click)="cloneHandler()">Clone</button>
      </li>
      <li class="title-actions-item">
        <button class="button button--white" (click)="deleteHandler()">Delete</button>
      </li>
      <li class="title-actions-item">
        <button class="button button--white" (click)="runHandler()">Run Scenario</button>
      </li>
      <li class="title-actions-item">
        <button class="button button--dark" (click)="saveHandler()">Save</button>
      </li>
    </ul>

  </div>

  <div class="data-actions-placeholder">
    <div>
      <app-data-search-button
        [label]="'Search options'"
        (changed)="searchHandler($event)">
      </app-data-search-button>
    </div>
  </div>

  <div class="data-placeholder">

    <div id="tab-general" #tabGeneral>

      <app-text-field
        [label]="'Scenario name'"
        [value]="scenario.label"
        (valueChanged)="changeFieldHandler($event, 'label')"
      ></app-text-field>

      <app-text-field
        [label]="'Url of Testing Page'"
        [description]="'[required] The url of your app state'"
        [placeholder]="'https://my.server/home'"
        [fieldIcon]="'External Link'"
        (iconClick)="openExternalUrlHandler($event)"
        [value]="scenario.url"
        (valueChanged)="changeFieldHandler($event, 'url')"
      ></app-text-field>

      <app-text-field
        [label]="'Mismatch Threshold'"
        [description]="'Mismatch Threshold is the percentage of different pixels allowed to pass test'"
        [placeholder]="'0.1'"
        [value]="scenario.misMatchThreshold"
        [defaultValue]="'0.1'"
        (valueChanged)="changeFieldHandler($event, 'misMatchThreshold')"
      ></app-text-field>

    </div>

  </div>

  <div class="sidebar-placeholder">

    <div class="sidebar-header">
      <h3>History of Scenario Runs</h3>
    </div>

  </div>


</app-sidebar-page-layout>
