<div class="header-block-margin header-block">
  <app-stats
    [casesCount]="(scenarios$ | async).length"
  ></app-stats>
</div>

<div class="header-block-margin">
  <app-section-header text="Scenarios" icon="web"></app-section-header>
</div>

<div class="scenarios-block">

  <app-scenario-card *ngFor="let scenario of scenarios$ | async"
    [title]="scenario.label"
    screenshot="/assets/images/stubs/screen1.png"
    (runClick)="runOneScenarioHandler($event)">
  </app-scenario-card>

  <app-add-scenario-button></app-add-scenario-button>

</div>


<app-section-header text="Job History" icon="ballot"></app-section-header>

<div class="history-block">

  <app-history-table [data]="history$ | async"></app-history-table>

</div>
