:host {
  flex: 1;
  padding-left: 54px;
  padding-right: 54px;
}

.header-block {
  padding-top: 50px; /* TODO: TEMP */
  margin-left: 250px;
  height: 254px;
}

.scenarios-block {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-left: -34px;
}

.history-block {
  margin-top: 42px;
}
