:host {
  flex: 1;
  padding-left: 54px;
  padding-right: 54px;
}

.header-block {
  padding-top: 33px;
  height: 155px;
}

.header-block-margin {
  margin-left: 250px;
}

.scenarios-block {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-left: -34px;
}

.history-block {
  margin-top: 42px;
}
