body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-bottom: 0.5em;
}

.form * + * {
  margin-top: 0.5em;
}

.form button {
  width: 120px;
}

.results {
  padding-inline-start: 0;
}

.results li {
  background-color: #fafafa;
  border: 1px solid #fcfcfc;
  padding: 0.5em 1em;
  list-style: none;
}

button {
  white-space: nowrap;
}
