<nav>
  <div class="app-menu">
    <span class="logo">
      <img src="/assets/images/logo.svg" alt="">
    </span>
    <ul>
      <li routerLinkActive="navbar-item--active" [routerLink]="['/overview']">Overview</li>
      <li routerLinkActive="navbar-item--active" [routerLink]="['/scenarios']">Scenarios</li>
      <li routerLinkActive="navbar-item--active" [routerLink]="['/jobs']">Jobs History</li>
      <li routerLinkActive="navbar-item--active" [routerLink]="['/settings']">Settings</li>
    </ul>
  </div>
  <div class="app-account except-xs">Maddy Savage <i class="icon material-icons">copyright</i></div>
  <div class="app-hamburger" [ngClass]="{ 'app-hamburger--opened': isMenuOpened }">
    <span (click)="openMenuHandler()"><i class="material-icons">dehaze</i></span>
    <ul>
      <li routerLinkActive="navbar-item--active" [routerLink]="['/overview']">Overview</li>
      <li routerLinkActive="navbar-item--active" [routerLink]="['/scenarios']">Scenarios</li>
      <li routerLinkActive="navbar-item--active" [routerLink]="['/jobs']">Jobs History</li>
      <li routerLinkActive="navbar-item--active" [routerLink]="['/settings']">Settings</li>
      <li class="app-account">Sign-Out</li>
    </ul>
  </div>

</nav>
