:host {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  z-index: 10;
}
.navbar {
  background-color: var(--schema-darkest);
  display: flex;
  flex-direction: column;

  padding-top: 310px;
  justify-content: flex-start;
  align-items: center;

  height: 100%;
  width: 74px;
}

.navbar-item {
  color: var(--menu-item-disabled);
  padding: 16px;
  line-height: 1.5;
  transition: color .25s;
  user-select: none;
}

.navbar-item i.material-icons {
  line-height: 1;
  height: auto;
  font-size: 32px;
}

.navbar-item--active {
  color: var(--menu-item-enabled);
}

.navbar-item:active {
  color: var(--menu-item-accent);
}

.navbar-item + .navbar-item {
  margin-top: 10px;
}
