<app-overview-layout>

  <div class="widgets-left-placeholder">

    <app-widget-label
      [state]="'passed'"
      [scenarios]="72"
      [viewports]="3"
      [lastRun]="'2h 36min ago'">
    </app-widget-label>

  </div>

  <div class="widgets-center-placeholder">

    <div class="widgets-center-row">

      <app-widget
        [title]="'Today'"
        [isLargeContent]="true"
        [bgColor]="'blue'">

        Nothing broken<br>
        <app-icon icon="Nothing broken"></app-icon>

      </app-widget>

      <app-widget
        [title]="'Recently failed'"
        [bgColor]="'gray'">

        Home Page / Navigation Bar Component <br>
        <button class="button button--white button--lg">Run Again</button>

      </app-widget>

      <app-widget-timeline
        [title]="'This week'"
        [passedPercent]="52"
        [delta]="'+7'"
        [chartData]="weeklyPassed"
      ></app-widget-timeline>

    </div>
    <div class="widgets-center-row">

      <app-widget-fragiled
        [scenarioId]="12345678901"
        [title]="'Most fragile case of the week'"
        [scenarioName]="'Home Page / Navigation Bar Component'"
        [failsPercent]="73"
        [imageUrl]="'assets/images/stubs/screen9.png'"
        (clickOnImage)="testEventHandler($event)"
      ></app-widget-fragiled>

      <app-widget
        [title]="'Already'"
        [isAccentValue]="true"
        [bgColor]="'white'">
        <span><em>32</em>days<br> without fails</span>
      </app-widget>

      <app-widget
        [title]="'Test cases'"
        [isAccentValue]="true"
        [bgColor]="'white'">
        <span><em>72</em><br>37 are stable</span>
      </app-widget>

    </div>

  </div>

  <div class="widgets-right-placeholder">

    <app-widget-run
      [viewports]="['1920 × 1080', '1600 × 900', '1270 × 768', '800 × 600']"
      (clickRunFiltered)="testEventHandler($event)"
    >
    </app-widget-run>

  </div>


  <div class="cards-placeholder">
    
    <div *ngFor="let scenario of favoriteScenarios$ | async" class="app-card--sm">

      <app-card-sm
        [itemId]="scenario._id"
        [header]="scenario.label"
        [isPassed]="true"
        [viewports]="[]"
        [imageUrl]="'https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/27d32389267827.5df0b971656d7.png'"
        (clickCard)="openScenarioHandler(scenario._id)"
        (clickHistory)="openScenarioHistoryHandler(scenario._id)"
        (clickRun)="runScenarioHandler(scenario.label)"
      >
      </app-card-sm>

    </div>

  </div>

  <div class="records-placeholder">

    <table class="runs-table" border="0">
      <tr>
        <td>

          <div class="status-cell">
            <div class="status-icon status-icon--passed">
              <app-icon icon="Passed"></app-icon>
            </div>
            <div class="labels">
              <div class="time-label">3 min ago</div>
              <div class="state-label">Running now...</div>
            </div>
          </div>

        </td>
        <td>
          All scenarios
        </td>
        <td>

          <div class="user-cell">
            <div class="upic">JA</div>
            <span class="text">Jonathan Amos</span>
          </div>

        </td>

        <td>

          <div class="action-cell action-cell--right">
            <app-icon icon="Close" customClass="action-cell-icon"></app-icon>
          </div>

        </td>
      </tr>
      <tr>
        <td>

          <div class="status-cell">
            <div class="status-icon status-icon--passed">
              <app-icon icon="Passed"></app-icon>
            </div>
            <div class="labels">
              <div class="time-label">3 min ago</div>
              <div class="state-label">Running now...</div>
            </div>
          </div>

        </td>
        <td>
          All scenarios
        </td>
        <td>

          <div class="user-cell">
            <div class="upic">JA</div>
            <span class="text">Jonathan Amos</span>
          </div>

        </td>

        <td>

          <div class="action-cell action-cell--right">
            <app-icon icon="Close" customClass="action-cell-icon"></app-icon>
          </div>

        </td>
      </tr>
      <tr>
        <td>

          <div class="status-cell">
            <div class="status-icon status-icon--passed">
              <app-icon icon="Passed"></app-icon>
            </div>
            <div class="labels">
              <div class="time-label">3 min ago</div>
              <div class="state-label">Running now...</div>
            </div>
          </div>

        </td>
        <td>
          All scenarios
        </td>
        <td>

          <div class="user-cell">
            <div class="upic">JA</div>
            <span class="text">Jonathan Amos</span>
          </div>

        </td>

        <td>

          <div class="action-cell action-cell--right">
            <app-icon icon="Close" customClass="action-cell-icon"></app-icon>
          </div>

        </td>
      </tr>
      <tr>
        <td>

          <div class="status-cell">
            <div class="status-icon status-icon--passed">
              <app-icon icon="Passed"></app-icon>
            </div>
            <div class="labels">
              <div class="time-label">3 min ago</div>
              <div class="state-label">Running now...</div>
            </div>
          </div>

        </td>
        <td>
          All scenarios
        </td>
        <td>

          <div class="user-cell">
            <div class="upic">JA</div>
            <span class="text">Jonathan Amos</span>
          </div>

        </td>

        <td>

          <div class="action-cell action-cell--right">
            <app-icon icon="Close" customClass="action-cell-icon"></app-icon>
          </div>

        </td>
      </tr>
      <tr>
        <td>

          <div class="status-cell">
            <div class="status-icon status-icon--passed">
              <app-icon icon="Passed"></app-icon>
            </div>
            <div class="labels">
              <div class="time-label">3 min ago</div>
              <div class="state-label">Running now...</div>
            </div>
          </div>

        </td>
        <td>
          All scenarios
        </td>
        <td>

          <div class="user-cell">
            <div class="upic">JA</div>
            <span class="text">Jonathan Amos</span>
          </div>

        </td>

        <td>

          <div class="action-cell action-cell--right">
            <app-icon icon="Close" customClass="action-cell-icon"></app-icon>
          </div>

        </td>
      </tr>
    </table>

  </div>

</app-overview-layout>
