:host {
  display: flex;
  width: 100%;
}

.left-sidebar {
  width: 321px;
  _border: 1px dashed blue;
}

.main-container {
  flex: 1;
  padding: 50px;
}

.right-sidebar {
  width: 273px;
  background: #F9F9FB;
  padding: 36px;
}


app-section-subheader {
  margin-bottom: 24px;
}

.row {
  margin-left: -.75rem;
}
.first-row {
  margin-top: 30px !important;
}
