
  <div class="left-sidebar">
    <app-sidebar
      [scenarios]="scenarios$ | async"
      [viewports]="viewports$ | async"
      [selectedScenarioLabel]="selectedScenarioLabel$ | async"
      (selectScenario)="selectScenario($event)"
    >
    </app-sidebar>
  </div>

  <div class="main-container">

    <app-top-menu></app-top-menu>

    <app-section-header icon="web" [text]="'Landing Page'" ></app-section-header>
    <div class="row first-row">
      <div class="col l5 m12 s12">
        <app-input-box
          label="Full url of tested page"
          placeholder="Url"
          [value]="url">
        </app-input-box>
      </div>

      <div class="col l5 m12 s12">
        <app-input-box
          label="Mismatch Threshold"
          placeholder="0.0 - 1.0"
          [value]="">
        </app-input-box>
      </div>
    </div>


    <app-section-subheader [text]="'Waiting'"></app-section-subheader>
    <div class="row">
      <div class="col l5 m12 s12">
        <app-input-box
          label="Ready Selector"
          placeholder=".class | #id | tag"
          [value]="">
        </app-input-box>
      </div>

      <div class="col l5 m12 s12">
        <app-input-box
          label="Delay (milliseconds)"
          placeholder="3000"
          [value]="">
        </app-input-box>
      </div>

    </div>
    <div class="row">
      <div class="col l5 m12 s12">
        <app-input-box
          label="Ready Event"
          placeholder=""
          [value]="">
        </app-input-box>
      </div>
    </div>



    <app-section-subheader [text]="'Page Modifications'"></app-section-subheader>
    <div class="row">
      <div class="col l5 m12 s12">
        <app-input-box
          label="Hide Selectors"
          placeholder=".class | #id | tag"
          [value]="">
        </app-input-box>
      </div>
    </div>

    <div class="row">
      <div class="col l5 m12 s12">
        <app-input-box
          label="Remove Selectors"
          placeholder=".class | #id | tag"
          [value]="">
        </app-input-box>
      </div>
    </div>


    <app-section-subheader [text]="'Interaction'"></app-section-subheader>
    <div class="row">
      <div class="col l5 m12 s12">
        <app-input-box
          label="Click Selectors"
          placeholder=".class | #id | tag"
          [value]="">
        </app-input-box>
      </div>

      <div class="col l5 m12 s12">
        <app-input-box
          label="Scroll to Selector"
          placeholder=".class | #id | tag"
          [value]="">
        </app-input-box>
      </div>

    </div>
    <div class="row">
      <div class="col l5 m12 s12">
        <app-input-box
          label="Hover Selectors"
          placeholder=".class | #id | tag"
          [value]="">
        </app-input-box>
      </div>

      <div class="col l5 m12 s12">
        <app-input-box
          label="Post Interaction Wait"
          placeholder="1000"
          [value]="">
        </app-input-box>
      </div>
    </div>

  </div>

  <div class="right-sidebar">

    <div class="top-section">
      <app-section-subheader [text]="'History'"></app-section-subheader>

      <ul class="history">
        <li class="history-record"><i class="material-icons status-success">check_circle</i><span>2020/03/31 00:34:16</span></li>
        <li class="history-record"><i class="material-icons status-success">check_circle</i><span>2020/03/31 00:34:16</span></li>
        <li class="history-record"><i class="material-icons status-success">check_circle</i><span>2020/03/31 00:34:16</span></li>
        <li class="history-record"><i class="material-icons status-success">check_circle</i><span>2020/03/31 00:34:16</span></li>
        <li class="history-record"><i class="material-icons status-failed">cancel</i><span>2020/03/31 00:34:16</span></li>
        <li class="history-record"><i class="material-icons status-success">check_circle</i><span>2020/03/31 00:34:16</span></li>
        <li class="history-record"><i class="material-icons status-success">check_circle</i><span>2020/03/31 00:34:16</span></li>
      </ul>
    </div>

    <div class="bottom-section">
      <img src="/assets/images/chart.png" alt="">
    </div>

  </div>
