
  <div class="left-sidebar">
    <app-sidebar [title]="'Configuration'">

      <app-menu-section
        [icon]="'desktop_windows'"
        [header]="'Viewports'"
        [items]="viewports$ | async"
        [itemKey]="'_id'"
        [itemValue]="'label'"
        (headerActionClick)="addViewportHandler()"
        [itemActionIcon]="'close'"
        (itemActionClick)="removeViewportHandler($event)"
      >
      </app-menu-section>


      <app-menu-section
        [icon]="'web'"
        [header]="'Scenarios'"
        [theme]="'yellow'"
        [items]="scenarios$ | async"
        [itemKey]="'_id'"
        [itemValue]="'label'"
        [selected]="selectedScenarioLabel$ | async"
        (itemClick)="selectScenarioHandler($event)"
        (headerActionClick)="addScenarioHandler()"
      >
      </app-menu-section>

    </app-sidebar>
  </div>

  <div class="main-container"
       [ngClass]="{'main-container--loading': isLoading$ | async}"
  >

    <form (ngSubmit)="saveHandler(formRef)" #formRef="ngForm">

      <input type="hidden"
             [ngModel]="(selectedScenario$ | async)._id"
             name="_id">

      <input type="hidden"
             [ngModel]="(selectedScenario$ | async).label"
             name="label">

    <app-top-menu
      (onActionClick)="topMenuClickHandler($event)"
    ></app-top-menu>

    <app-section-header icon="web" [text]="selectedScenarioLabel$ | async" ></app-section-header>
    <div class="row first-row">

      <div class="col l5 m12 s12">
        <label>Full url of tested page</label>
        <input class="control-text" type="text"
               [ngModel]="(selectedScenario$ | async).url"
               name="url" required>
      </div>

      <div class="col l5 m12 s12">
        <label>Mismatch Threshold</label>
        <input class="control-text" type="text"
               [ngModel]="(selectedScenario$ | async).misMatchThreshold"
               name="misMatchThreshold"
               placeholder="0.0 - 1.0">
      </div>

    </div>


    <app-section-subheader [text]="'Waiting'"></app-section-subheader>
    <div class="row">

      <div class="col l5 m12 s12">
        <label>Ready Selector</label>
        <input class="control-text" type="text"
               [ngModel]="(selectedScenario$ | async).readySelector"
               name="readySelector"
               placeholder=".class | #id | tag">
      </div>

      <div class="col l5 m12 s12">
        <label>Delay (milliseconds)</label>
        <input class="control-text" type="text"
               [ngModel]="(selectedScenario$ | async).delay"
               name="delay"
               placeholder="0">
      </div>

    </div>
    <div class="row">

      <div class="col l5 m12 s12">
        <label>Ready Event</label>
        <input class="control-text" type="text"
               [ngModel]="(selectedScenario$ | async).readyEvent"
               name="readyEvent"
               placeholder="">
      </div>

    </div>


    <app-section-subheader [text]="'Page Modifications'"></app-section-subheader>
    <div class="row">
      <div class="col l5 m12 s12">

        <label>Hide Selectors</label>
        <input class="control-text" type="text"
               [ngModel]="(selectedScenario$ | async).hideSelectors"
               name="hideSelectors"
               placeholder=".class | #id | tag">
      </div>
    </div>
    <div class="row">
      <div class="col l5 m12 s12">

        <label>Remove Selectors</label>
        <input class="control-text" type="text"
               [ngModel]="(selectedScenario$ | async).removeSelectors"
               name="removeSelectors"
               placeholder=".class | #id | tag">
      </div>
    </div>


    <app-section-subheader [text]="'Interaction'"></app-section-subheader>
    <div class="row">
      <div class="col l5 m12 s12">

        <label>Click Selectors</label>
        <input class="control-text" type="text"
               [ngModel]="(selectedScenario$ | async).clickSelectors"
               name="clickSelectors"
               placeholder=".class | #id | tag">
      </div>

      <div class="col l5 m12 s12">

        <label>Scroll to Selector</label>
        <input class="control-text" type="text"
               [ngModel]="(selectedScenario$ | async).scrollToSelector"
               name="scrollToSelector"
               placeholder=".class | #id | tag">
      </div>

    </div>
    <div class="row">
      <div class="col l5 m12 s12">

        <label>Hover Selectors</label>
        <input class="control-text" type="text"
               [ngModel]="(selectedScenario$ | async).hoverSelectors"
               name="hoverSelectors"
               placeholder=".class | #id | tag">
      </div>

      <div class="col l5 m12 s12">

        <label>Post Interaction Wait (milliseconds)</label>
        <input class="control-text" type="text"
               [ngModel]="(selectedScenario$ | async).postInteractionWait"
               name="postInteractionWait"
               placeholder="0">
      </div>
    </div>

    </form>

  </div>

  <div class="right-sidebar">

    <div class="top-section">
      <app-section-subheader [text]="'History'"></app-section-subheader>

      <ul class="history">
        <li class="history-record"><i class="material-icons status-success">check_circle</i><span>2020/03/31 00:34:16</span></li>
        <li class="history-record"><i class="material-icons status-success">check_circle</i><span>2020/03/31 00:34:16</span></li>
        <li class="history-record"><i class="material-icons status-success">check_circle</i><span>2020/03/31 00:34:16</span></li>
        <li class="history-record"><i class="material-icons status-success">check_circle</i><span>2020/03/31 00:34:16</span></li>
        <li class="history-record"><i class="material-icons status-failed">cancel</i><span>2020/03/31 00:34:16</span></li>
        <li class="history-record"><i class="material-icons status-success">check_circle</i><span>2020/03/31 00:34:16</span></li>
        <li class="history-record"><i class="material-icons status-success">check_circle</i><span>2020/03/31 00:34:16</span></li>
      </ul>
    </div>

    <div class="bottom-section">
      <img src="/assets/images/chart.png" alt="">
    </div>

  </div>



  <!-- Add Scenario Modal Structure -->
  <form (ngSubmit)="createScenarioHandler(addScenarioModal)" #addScenarioModal="ngForm">
  <div id="addScenarioModal" class="modal">
    <div class="modal-content">

      <h2>Add New Scenario</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi eligendi exercitationem illo, impedit ipsa minus officiis placeat quibusdam quos ratione.
      </p>
      <div class="row">
        <div class="col s12">
          <label>Scenario name</label>
          <input class="control-text" type="text"
                 ngModel
                 name="label"
                 placeholder="for ex. Testing Home Page"
                 required>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <label>Url</label>
          <input class="control-text" type="text"
                 ngModel
                 name="url"
                 placeholder="https://mywebsite/home"
                 required>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button class="modal-close waves-effect waves-green btn-flat" type="reset">Cancel</button>
      <button *ngIf="addScenarioModal.valid" class="modal-close waves-effect waves-green btn-flat" type="submit">Create</button>
    </div>
  </div>
  </form>

  <!-- Add Viewport Modal Structure -->
  <form (ngSubmit)="createViewportHandler(addViewportModal)" #addViewportModal="ngForm">
    <div id="addViewportModal" class="modal">
      <div class="modal-content">
        <h2>Add Viewport</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum ipsum nam numquam</p>
        <div class="row">
          <div class="col m6 s12">
            <label>Screen width</label>
            <input class="control-text" type="number" min="100" max="10000"
                   ngModel
                   name="width"
                   placeholder="for ex. 1920"
                   required>
          </div>
          <div class="col m6 s12">
            <label>Screen height</label>
            <input class="control-text" type="number" min="100" max="10000"
                   ngModel
                   name="height"
                   placeholder="for ex. 1080"
                   required>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="modal-close waves-effect waves-green btn-flat" type="reset">Cancel</button>
        <button class="modal-close waves-effect waves-green btn-flat" type="submit">Add</button>
      </div>
    </div>
  </form>

