
  <div class="left-sidebar">
    <app-sidebar
      [scenarios]="scenarios$ | async"
      [viewports]="viewports$ | async"
      [selectedScenarioLabel]="selectedScenarioLabel$ | async"
      (selectScenario)="selectScenarioHandler($event)"
    >
    </app-sidebar>
  </div>

  <div class="main-container">

    <form (ngSubmit)="saveHandler(formRef)" #formRef="ngForm">

      <input type="hidden"
             [ngModel]="(selectedScenario$ | async).label"
             name="label">

    <app-top-menu
      (onActionClick)="topMenuClickHandler($event)"
    ></app-top-menu>

    <app-section-header icon="web" [text]="selectedScenarioLabel$ | async" ></app-section-header>
    <div class="row first-row">

      <div class="col l5 m12 s12">
        <label>Full url of tested page</label>
        <input class="control-text" type="text"
               [ngModel]="(selectedScenario$ | async).url"
               name="url" required>
      </div>

      <div class="col l5 m12 s12">
        <label>Mismatch Threshold</label>
        <input class="control-text" type="text"
               [ngModel]="(selectedScenario$ | async).misMatchThreshold"
               name="misMatchThreshold"
               placeholder="0.0 - 1.0">
      </div>

    </div>


    <app-section-subheader [text]="'Waiting'"></app-section-subheader>
    <div class="row">

      <div class="col l5 m12 s12">
        <label>Ready Selector</label>
        <input class="control-text" type="text"
               [ngModel]="(selectedScenario$ | async).readySelector"
               name="readySelector"
               placeholder=".class | #id | tag">
      </div>

      <div class="col l5 m12 s12">
        <label>Delay (milliseconds)</label>
        <input class="control-text" type="text"
               [ngModel]="(selectedScenario$ | async).delay"
               name="delay"
               placeholder="0">
      </div>

    </div>
    <div class="row">

      <div class="col l5 m12 s12">
        <label>Ready Event</label>
        <input class="control-text" type="text"
               [ngModel]="(selectedScenario$ | async).readyEvent"
               name="readyEvent"
               placeholder="">
      </div>

    </div>


    <app-section-subheader [text]="'Page Modifications'"></app-section-subheader>
    <div class="row">
      <div class="col l5 m12 s12">

        <label>Hide Selectors</label>
        <input class="control-text" type="text"
               [ngModel]="(selectedScenario$ | async).hideSelectors"
               name="hideSelectors"
               placeholder=".class | #id | tag">
      </div>
    </div>
    <div class="row">
      <div class="col l5 m12 s12">

        <label>Remove Selectors</label>
        <input class="control-text" type="text"
               [ngModel]="(selectedScenario$ | async).removeSelectors"
               name="removeSelectors"
               placeholder=".class | #id | tag">
      </div>
    </div>


    <app-section-subheader [text]="'Interaction'"></app-section-subheader>
    <div class="row">
      <div class="col l5 m12 s12">

        <label>Click Selectors</label>
        <input class="control-text" type="text"
               [ngModel]="(selectedScenario$ | async).clickSelectors"
               name="clickSelectors"
               placeholder=".class | #id | tag">
      </div>

      <div class="col l5 m12 s12">

        <label>Scroll to Selector</label>
        <input class="control-text" type="text"
               [ngModel]="(selectedScenario$ | async).scrollToSelector"
               name="scrollToSelector"
               placeholder=".class | #id | tag">
      </div>

    </div>
    <div class="row">
      <div class="col l5 m12 s12">

        <label>Hover Selectors</label>
        <input class="control-text" type="text"
               [ngModel]="(selectedScenario$ | async).hoverSelectors"
               name="hoverSelectors"
               placeholder=".class | #id | tag">
      </div>

      <div class="col l5 m12 s12">

        <label>Post Interaction Wait (milliseconds)</label>
        <input class="control-text" type="text"
               [ngModel]="(selectedScenario$ | async).postInteractionWait"
               name="postInteractionWait"
               placeholder="0">
      </div>
    </div>

    </form>

  </div>

  <div class="right-sidebar">

    <div class="top-section">
      <app-section-subheader [text]="'History'"></app-section-subheader>

      <ul class="history">
        <li class="history-record"><i class="material-icons status-success">check_circle</i><span>2020/03/31 00:34:16</span></li>
        <li class="history-record"><i class="material-icons status-success">check_circle</i><span>2020/03/31 00:34:16</span></li>
        <li class="history-record"><i class="material-icons status-success">check_circle</i><span>2020/03/31 00:34:16</span></li>
        <li class="history-record"><i class="material-icons status-success">check_circle</i><span>2020/03/31 00:34:16</span></li>
        <li class="history-record"><i class="material-icons status-failed">cancel</i><span>2020/03/31 00:34:16</span></li>
        <li class="history-record"><i class="material-icons status-success">check_circle</i><span>2020/03/31 00:34:16</span></li>
        <li class="history-record"><i class="material-icons status-success">check_circle</i><span>2020/03/31 00:34:16</span></li>
      </ul>
    </div>

    <div class="bottom-section">
      <img src="/assets/images/chart.png" alt="">
    </div>

  </div>
