:host {
  display: flex;
  width: 100%;
}

.left-sidebar {
  width: 321px;
}

.main-container {
  flex: 1;
  padding: 40px 50px 50px 50px;
}

.right-sidebar {
  width: 273px;
  background: #F9F9FB;
  padding: 36px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right-sidebar .bottom-section {
  display: flex;
  justify-content: center;
}


app-section-subheader {
  display: block;
  margin-top: 40px;
  margin-bottom: 24px;
}

.row {
  margin-left: -.75rem;
  margin-bottom: 10px;
}

@media only screen and (min-width: 601px) {
  .row .col.l5,
  .row .col.m5 {
    margin-right: 22px;
  }
}

.first-row {
  margin-top: 30px !important;
}


.history { }

.history-record {
  height: 30px;
  display: flex;
  align-items: center;
}
.history-record .material-icons {
  margin-right: 12px;
  font-size: 21px;
}
.history-record span {
  font-weight: 400;
  font-size: 14px;
  color: #6A6A6A;
}
