<app-sidebar-page-layout
  [title]="title$ | async"
  [breadcrumb]="true"
  [customDescription]="true"
  [hideSidebar]="true"
>

  <div class="breadcrumb-placeholder">
    <span class="breadcrumb-item breadcrumb-item--link" [routerLink]="['/jobs']">Jobs History</span>
    <span class="breadcrumb-item breadcrumb-item--link" [routerLink]="['/job', jobId]">{{ (breadcrumbsInfo$ | async).job }}</span>
    <span class="breadcrumb-item breadcrumb-item--link" [routerLink]="['/scenario', (breadcrumbsInfo$ | async).scenarioId]">{{ (breadcrumbsInfo$ | async).scenario }}</span>
    <span class="breadcrumb-item">{{ (breadcrumbsInfo$ | async).viewport }}</span>
  </div>

  <div class="description-placeholder">
    <app-info-table
      [items]="descriptionInfo$ | async"
      [labelsAndProps]="[
        { label: 'Also tested on', prop: 'testedOn', chips: true },
        { label: 'Tested along with', prop: 'testedWith', chips: true }
      ]">
    </app-info-table>
  </div>

  <div class="page-actions-placeholder">

    <ul class="page-actions">
      <li class="title-actions-item">
        <button class="button button--white" (click)="openUrlHandler()">Open Url</button>
      </li>
      <li class="title-actions-item">
        <button class="button button--white" [routerLink]="['/job', jobId]">Open History</button>
      </li>
      <li class="title-actions-item">
        <button class="button button--white" [routerLink]="['/scenario', (pageActionsInfo$ | async).scenarioId]">Open Scenario</button>
      </li>
      <li class="title-actions-item">
        <button class="button button--white" (click)="runAgainHandler()">Run Again</button>
      </li>
      <li class="title-actions-item">
        <button class="button button--dark" (click)="approveHandler()">Approve</button>
      </li>
    </ul>

  </div>

  <div class="data-actions-placeholder">
    <div>

      <app-data-action-button
        [label]="'Test Result'"
        [icon]="'Test'"
        [hideLabelOnXS]="true"
        (clicked)="showTestImageHandler()">
      </app-data-action-button>
      <app-data-action-button
        [label]="'Reference'"
        [icon]="'Reference'"
        [hideLabelOnXS]="true"
        (clicked)="showReferenceImageHandler()">
      </app-data-action-button>
      <app-data-action-button
        [label]="'Difference'"
        [icon]="'Difference'"
        [hideLabelOnXS]="true"
        (clicked)="showDifferenceImageHandler()">
      </app-data-action-button>
      <app-data-action-button
        [label]="'Comparer'"
        [icon]="'Comparer'"
        [hideLabelOnXS]="true"
        (clicked)="showComparer()">
      </app-data-action-button>

    </div>
    <div>

      <app-data-action-button
        [label]="'Full Size'"
        [icon]="'Full Size'"
        [hideLabelOnXS]="true"
        (clicked)="fullSizeHandler()">
      </app-data-action-button>

      <app-data-action-button
        [className]="'except-xs'"
        [label]="'Fit'"
        [icon]="'Fit'"
        [hideLabelOnXS]="true"
        (clicked)="fitSizeHandler()">
      </app-data-action-button>

    </div>
  </div>

  <div class="data-placeholder">

    <app-image-comparer
      [firstImageUrl]="(images$ | async).differenceImage"
      [secondImageUrl]="(images$ | async).referenceImage"
    >
    </app-image-comparer>

  </div>


</app-sidebar-page-layout>
