<div class="widget widget-run widget--green">

  <div class="widget-header">Run Filtered Test Cases</div>

  <div class="run-form">

    <div class="text-field text-field--full">
      <label for="scenariosFilter">Scenarios filter <i class="far fa-question-circle"></i></label>
      <div class="input-box">
        <input type="text" id="scenariosFilter" #scenariosFilter placeholder="some-label*">
      </div>
    </div>

    <span class="viewports-selector-header">Viewports</span>
    <app-viewports-selector
      [viewports]="viewports"
      (selectionChanged)="viewportSelectionChanged($event)">
    </app-viewports-selector>

    <div class="actions">
      <button class="button button--white">Reset</button>
      <button (click)="clickRunFilteredHandler()" class="button button--dark">Run Filtered</button>
    </div>

  </div>

</div>
