<div class="widget widget-run widget--green">

  <div class="widget-header">Run Filtered Test Cases</div>

  <div class="run-form">

    <app-text-field
      [label]="'Scenarios filter'"
      [tooltip]="''"
      [placeholder]="'some-label*'"
      (valueChange)="scenariosFilterChanged($event)"
    >
    </app-text-field>

    <span class="viewports-selector-header">Viewports</span>
    <app-viewports-selector
      [viewports]="viewports"
      (selectionChanged)="viewportSelectionChanged($event)">
    </app-viewports-selector>

    <div class="actions">
      <button class="button button--white">Reset</button>
      <button (click)="clickRunFilteredHandler()" class="button button--dark">Run Filtered</button>
    </div>

  </div>

</div>
