
.header-container {

  margin-top: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 8px;
  border-bottom: 2px solid #C9CBCF;
  color: var(--headers-main);
}

.header {
  display: flex;
  align-items: center;
}

.app-actions > span {
  cursor: pointer;
}
.app-actions > span:hover {
  text-decoration: underline;
}
.app-actions > span + span {
  margin-left: 1.5em;
}

.material-icons {
  padding-right: 12px;
}
