main > *,
.app-row > *,
.app-content > *,
.app-row-title
{
  _border: 1px dashed blue;
}
.cards-placeholder,
.records-placeholder,
.data-actions-placeholder,
.data-placeholder,
.xs-filters-placeholder,
.widgets-left-placeholder,
.widgets-center-placeholder,
.widgets-right-placeholder,
.sidebar-placeholder,
.page-actions-placeholder
{
  _border: 1px dashed red;
  _background: rgba(205, 0, 13, 0.31);
}


:root {

  --base-font: 'Ubuntu', sans-serif;

  --white-color: #ffffff;
  --text-gray-color: #6A6A6A;

  --green-accent-color: #89CB8C;
  --blue-accent-color: #8AC1F4;
  --red-accent-color: #EB5757;
  --grid-main-cell-color: #1F1F1F;
  --sidebar-bg-color: #F7F7F6;
  --navbar-bg-color: #ffffff;
  --navbar-font-normal-color: #E1E1E1;
  --navbar-font-active-color: #F3B618;
  --control-background-color: #FBFBFB;
  --control-border-color: #DBDBDB;


  --navbar-size: 70px;
  --navbar-size-xs: 20px;
  --sidebar-size: 25vw;

  --card-height: 20vh;

  --humburger-width: 90%;
  --humburger-pos-right: 0px;
  --humburger-pos-top: 0px;
  --humburger-pos-left: none;
  --humburger-pos-bottom: none;

  --xs-size: 600px;
  --xs-title-actions-top: none;
  --xs-title-actions-right: 7vw;
  --xs-title-actions-left: none;
  --xs-title-actions-bottom: 2vh;

  --xs-data-placeholder-margin-bottom: 6vh;
}

* {
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: var(--base-font);
}
button, input {
  font-family: inherit;
}


.app-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

nav {
  height: var(--navbar-size);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
nav .app-menu {
  display: flex;
  align-items: center;
  height: 100%;
}
nav .app-menu .logo { }
nav .app-menu ul { }
nav .app-menu ul li { float: left; display: block; margin: 0;}
nav .app-account {
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  font-size: 16px;
  margin-right: 24px;
  display: flex;
  align-items: center;
}
nav .app-hamburger { display: none; }


main {
  width: 100%;
  flex: 1;
  display: flex;
  z-index: 1;
  min-height: 100%;
}

.app-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

@media (max-width: 600px) {
  .app-content {
    margin-top: var(--navbar-size-xs);
  }
}


/* SIDEBAR PAGE LAYOUT */

.app-content .title-row {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app-content .title-row .page-header {
  margin: 0;
  padding: 0;
}
.app-content .page-description {
  margin-top: 7px;
  margin-bottom: 40px;
  width: 45%;
}
.page-actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-bottom: 20px;
}
.page-actions .title-actions-item {
  float: left;
  display: block;
}
.page-actions .title-actions-item + .title-actions-item {
  margin-left: 26px;
}
.app-sidebar {
  width: var(--sidebar-size);
  background: var(--sidebar-bg-color);
}
.app-filters {
  margin: 32px 22px 0px 22px;
}
.app-actions .data-actions-placeholder { display: flex; justify-content: space-between; }
.app-content .data-placeholder {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow-y: auto;

  padding-top: 22px;
}
.app-card {
  min-height: var(--card-height);
  flex-basis: auto;
}
@media (min-width: 601px)  {
  .app-card { width: 33.333%; }
}
@media (max-width: 600px) {

  .app-content .title-row {
    margin-top: 0;
  }
  .app-content .page-description {
    margin-top: 16px;
    margin-bottom: 0;
    width: 100%;
  }
  .app-content .app-filters {
    margin: 26px 0 14px 0;
  }
  .app-content .data-placeholder {
    margin-bottom: var(--xs-data-placeholder-margin-bottom);
  }
  .app-content .page-actions {
    position: fixed;
    z-index: 100;
    top: var(--xs-title-actions-top);
    right: var(--xs-title-actions-right);
    left: var(--xs-title-actions-left);
    bottom: var(--xs-title-actions-bottom);
    display: flex;
    flex-flow: wrap-reverse;
  }
}

.sidebar-placeholder {
  margin-left: 22px;
  margin-right: 50px;
}
.xs-filters-placeholder {
  margin-left: -20px;
}



/* OVERVIEW LAYOUT */
.app-content .app-row {
  display: flex;
  padding-left: 60px;
  padding-right: 60px;
}
@media (max-width: 600px)  {
  main .app-content .app-row {
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.app-widgets-row {
  justify-content: space-evenly;
  height: 53vh;
  position: relative;
  z-index: 1;
}
.app-widgets-row:before {
  position: absolute;
  content: ' ';
  top: 0;
  left: 0;
  width: 100%;
  _background: #F7F7F6;
  background: #eee;
  z-index: -1;
  _bottom: 25%;
  bottom: 11vh;
}
.app-widgets-row .action {
  position: absolute;
  _bottom: calc(25% - 20px);
  bottom: calc(11vh - 20px);
}
.app-widgets-row .app-widgets-column {
  height: 100%;
  width: 100%;
  position: relative;
  padding-top: 87px;
}
.app-widgets-row .app-widgets-column .widgets-center-placeholder {
  margin-left: 6.5vw;
  margin-right: 6.5vw;
}
.app-widgets-row .widgets-grid {}
.app-data-row .app-row-title {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}
.app-data-row .app-column--left {
  padding-right: 16px;
}
.app-data-row .app-column--left,
.app-data-row .app-column--right {
  flex: 1;
}

.widgets-center-row {
  display: flex;
}
.widgets-center-row > * + * {
  margin-left: 16px;
}
.widgets-center-row + .widgets-center-row {
  margin-top: 16px;
}


.app-card--sm {
  width: 50%;
  height: 160px;
}
@media (max-width: 600px)  {
  .app-card--sm {
    width: 100%;
  }
}



@media (min-width: 2049px) { .xxl1 { width: 6.5%; } }
@media (max-width: 2048px) { .xl2 { width: 12.5%; } }
@media (max-width: 1600px) { .l3 { width: 25%; } }
@media (max-width: 1200px) { .m4 { width: 33.333%; } }
@media (max-width: 800px)  { .s6 { width: 50%; } }
@media (max-width: 600px)  { .xs12 { width: 100%; } }

@media (min-width: 601px)  { .xs-only { display: none; } }
@media (max-width: 600px)  { .xs-only { display: block; } }
@media (min-width: 601px)  { .except-xs { display: block; } }
@media (max-width: 600px)  { .except-xs { display: none; } }

@media (max-width: 600px) {

  nav {
    position: fixed;
    height: var(--navbar-size-xs);
  }
  nav .app-hamburger { display: block; }
  nav .app-hamburger ul { display: none; }
  nav .app-hamburger ul li { padding: 0; display: block;}
  nav .app-hamburger ul li.app-account { }
  /*nav .app-hamburger:hover ul { display: block;}*/
  /*nav .app-hamburger:hover ul li { float: none; }*/
  nav .app-hamburger ul {
    position: fixed;
    top: var(--humburger-pos-top);
    right: var(--humburger-pos-right);
    left: var(--humburger-pos-left);
    bottom: var(--humburger-pos-bottom);
    z-index: 10;
    width: var(--humburger-width);
  }

  nav .app-menu ul { display: none; }
  nav .app-account { display: none; }

}
