:root {

  /* BASE COLORS */
  --color-black: #000000;
  --color-white: #ffffff;
  --color-blue-light: #8AC1F4;
  --color-blue: #39A0FF;
  --color-green: #73C376;
  --color-green-dark: #359539;
  --color-red: #EB5757;
  --color-red-dark: #A93434;
  --color-semiwhite: #ffffff8c;

  /* DOMAIN COLORS */
  --color-passed: #89CB8C;
  --color-accent: #FFD600;
  --color-upic: #6087AB;
  --color-headers-text: #1F1F1F;
  --color-cell-text: #565656;
  --color-page-headers: #5F5F5F;
  --color-page-data-actions: var(--color-page-headers);
  --color-page-data-actions-alt: #a0a0a0;
  --color-more-text: #909090;
  --color-more-background: #EEEEEE;
  --color-card-background: #E6EAEE;
  --color-controls-border: #DBDBDB;
  --color-controls-background: #FBFBFB;

  --shadow-normal: 0 20px 50px 0 rgba(0,0,0,.25);
  --shadow-sm: 0 10px 30px 0 rgba(0,0,0,.15);
}

.color-blue {
  background: var(--color-blue);
}
.color-green {
  background: var(--color-green);
}
.color-green-dark {
  background: var(--color-green-dark);
}
.color-red {
  background: var(--color-red);
}
.color-red-dark {
  background: var(--color-red-dark);
}

/* BUTTONS */

.button {
  border-radius: 50px;
  border: none;
  min-height: 40px;
  padding: 0 1.5em 0 1.5em;
  font-size: 100%;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  color: #ffffff;
  cursor: pointer;
  position: relative;
  box-shadow: 0 15px 20px 0 #0000002e, 0 5px 10px 0 #00000010;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.button:focus {
  outline: none;
}
.button:hover {
  filter: opacity(70%) hue-rotate(30deg);
}
.button:active {
  filter: opacity(100%);
}
.button + .button {
  margin-left: 1em;
}

.button--accent1 { background: var(--color-blue); border: 1px solid var(--color-blue); }
.button--accent2 { background: var(--color-green); border: 1px solid var(--color-green); }
.button--dark    { background: #000000; border: 1px solid #000000; }
.button--white   { background: #ffffff; border: 1px solid #545454; color: #000000; }
.button--lg {
  font-size: 18px;
  font-weight: 500;
}

/* ACTIONS */
.data-action {
  border: none;
  background: transparent;
  color: var(--color-page-data-actions);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin: 0;
  padding: 0;
  display: inline-flex;
  align-items: center;
  height: 24px;
}
.data-action + .data-action {
  margin-left: 20px;
}
.data-action i {
  margin-right: .25em;
}

.data-action .search-field {
  display: inline-flex;
  align-items: center;
}
.data-action .search-field input {
  margin-right: .5em;
  border: none;
  border-bottom: 1px solid var(--color-page-data-actions-alt);
  outline: none;
  color: var(--color-page-data-actions);
  font-size: 16px;
  font-weight: 500;
}
.data-action .search-field input::placeholder {
  color: var(--color-page-data-actions-alt);
  font-weight: 400;
}


/* HEADERS */
.column-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}
.column-header h2 {
  font-weight: 500;
  font-size: 24px;
  font-family: 'Ubuntu', sans-serif;
}
.column-header span .action {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #CDCDCD;
  cursor: pointer;
}
.column-header span .action + .action {
  margin-left: 14px;
}
.column-header span .action--active {
  color: #8AC1F4;
}

.page-header {
  font-family: 'Ubuntu', sans-serif;
  font-size: 36px;
  font-weight: 500;
  color: var(--color-page-headers);
}
.page-description {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}

.sidebar-header {
  border-bottom: 1px solid #D1D1D1;
  text-align: right;
  color: var(--color-page-headers);
  padding-bottom: 23px;
}
.sidebar-header > h2 {
  font-size: 72px;
  font-weight: bold;
  line-height: 60%;
  margin: 70px 0 27px 0;
  padding: 0;
}
.sidebar-header > h2 small {
  font-size: 36px;
  font-weight: 500;
}
.sidebar-header span {
  font-size: 24px;
  font-weight: 500;
}
.sidebar-header span + span {
  margin-left: 32px;
}

.filter-header {
  font-size: 24px;
  font-weight: 500;
  font-family: 'Ubuntu', sans-serif;
}
.filter-subheader {
  font-size: 14px;
  font-weight: 500;
  font-family: 'Ubuntu', sans-serif;
  color: #3A3A3A;
  margin-top: 24px;
  margin-bottom: 0;
  padding: 0;
}

/* INPUTS */

.text-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  font-family: 'Ubuntu', sans-serif;
}
.text-field--150 {
  width: 150px;
  max-width: 100%;
}
.text-field--350 {
  width: 350px;
  max-width: 100%;
}
.text-field--500 {
  width: 500px;
  max-width: 100%;
}
.text-field--full {
  width: 100%;
}
.text-field label {
  font-weight: 500;
  font-size: 16px;
  color: #1F1F1F;
}
.text-field label > i {
  color: #000000;
  cursor: pointer;
  margin-left: 0.5em;
  opacity: .25;
  transition: opacity .2s ease-in-out;
}
.text-field label > i:hover {
  opacity: 1;
}
.text-field .description {
  margin-block-start: 6px;
  margin-block-end: 6px;
  letter-spacing: .5px;
  font-size: 13px;
  color: #909090;
  line-height: 150%;
}
.text-field .input-box  {
  margin-top: 10px;
  display: flex;
  align-items: center;
  border: 1px solid #DBDBDB;
  background: #FBFBFB;
  border-radius: 3px;
  height: 36px;
  overflow: hidden;
}

.text-field .input-box input[type=text] {
  border: none;
  background: transparent;
  color: #535353;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  padding-left: 11px;
  padding-right: 11px;
  width: 100%;
  outline: none;
}
.text-field .input-box input[type=text]::placeholder {
  color: #c3c3c3;
}
.text-field.text-field--error .input-box:focus-within,
.text-field .input-box:focus-within {
  outline: none;
  border-color: #DBDBDB;
  border-bottom: 2px solid #FFD600;
  padding-top: 2px;
}
.text-field.text-field--error .input-box {
  border-color: var(--color-red);
  border-bottom-width: 2px;
  padding-top: 2px;
}
.text-field .input-box .input-box-chips {
  height: 30px;
  background: #e8e8e8;
  color: #535353;
  border: none;
  border-radius: 20px;
  padding-left: 16px;
  padding-right: 12px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 2px;
  white-space: nowrap;
  align-items: center;
  display: flex;
}
.text-field .input-box .input-box-chips i {
  margin-left: 0.5em;
  cursor: pointer;
}
.text-field .input-box .input-box-button {
  height: 30px;
  background: #89CB8C;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 2px;
  cursor: pointer;
  outline: none;
  white-space: nowrap;
}
.text-field .input-box .input-box-icon {
  color: #89CB8C;
  font-size: 16px;
  margin-right: 8px;
  cursor: pointer;
}
.text-field .input-box .input-box-icon:hover,
.text-field .input-box .input-box-button:hover {
  filter: opacity(70%);
}
.text-field .error-message {
  margin-block-start: 5px;
  margin-block-end: 0;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: .5px;
  color: var(--color-red);
  line-height: 135%;
}

.checkbox-field {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}
.checkbox-field span {
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 200%;
  margin-left: 12px;
}
.checkbox-field input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}
.checkbox-field label {
  cursor: pointer;
  text-indent: -9999px;
  width: 50px;
  height: 26px;
  background: #E2E2E2;
  display: block;
  border-radius: 6px;
  position: relative;
}
.checkbox-field label:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 22px;
  height: 22px;
  background: #fff;
  border-radius: 4px;
  transition: .3s;
}
.checkbox-field input[type=checkbox]:checked + label {
  background: var(--color-blue);
  _background: var(--color-green);
}
.checkbox-field input[type=checkbox]:checked + label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}
.checkbox-field label:active:after {
  width: 30px;
}

/* CHECKBOXES */
/* ???
.checkbox, .switch, .toggle {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
  position: relative;
  color: #1F1F1F;
}
.checkbox > input[type=checkbox] {
}
.checkbox > input[type=checkbox]:before {
  content: ' ';
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 1px;
  border: 1px solid #DBDBDB;
  background: #FBFBFB;
  border-radius: 3px;
  _opacity: .5;
}
*/


/* CARDS */

.card-sm {
  display: flex;
  _width: 435px;
  height: 165px;
  padding: 8px;
  background: #FDFDFD;
  margin-bottom: 8px;
}
.card-sm .image {
  width: 205px;
  margin-right: 20px;
  cursor: pointer;
}
.card-sm .image--empty {
  background-color: #E6EAEE;
}
.card-sm .image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  filter: grayscale(1) opacity(0.5);
  transition: filter .3s ease-in-out;
}
.card-sm:hover .image img {
  filter: grayscale(0) opacity(1);
}
.card-sm .info-panel {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 50%;
}
.card-sm .info-panel .info {
  flex: 1;
}
.card-sm .info-panel .info .header {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 500;
  margin-top: 2px;
  cursor: pointer;
}
.card-sm .info-panel .info .label {
  font-size: 14px;
  color: #ffffff;
  padding: 1px 6px;
  margin-bottom: 12px;
  width: fit-content;
}
.card-sm .info-panel .info .label--passed {
  background: var(--color-green);
  border-left: 4px solid var(--color-green-dark);
}
.card-sm .info-panel .info .label--failed {
  background: var(--color-red);
  border-left: 4px solid var(--color-red-dark);
}
.card-sm .info-panel .info .description {
  font-size: 12px;
  color: #565656;
  line-height: 135%;
}
.card-sm .info-panel .info .description .more {
  color: #909090;
  background: #EEEEEE;
  padding: 2px 4px;
  border-radius: 4px;
  margin-left: .5em;
  cursor: pointer;
  position: relative;
}
.card-sm .info-panel .info .description .more .hidden-more {
  display: none;
}
.card-sm .info-panel .info .description .more:hover .hidden-more {
  display: inline;
  position: absolute;
  background: #484848;
  color: #ffffff;
  padding: 4px 6px;
  border-radius: 2px;
  bottom: 20px;
  max-width: 150px;
  width: max-content;
  line-height: 150%;
}
.card-sm .info-panel .actions {
  font-size: 14px;
  white-space: nowrap;
  cursor: pointer;
}
.card-sm .info-panel .actions > * + * { margin-left: 1em; white-space: nowrap; }
.card-sm .info-panel .actions i { font-size: 10px; margin-left: 0.25em;}



.card-md {
  width: 380px;
  margin-bottom: 50px;

  /*width: 380px;*/
  max-width: 100%;
  /*margin-bottom: 30px;*/
  display: flex;
  flex-direction: column;
}
.card-md .image {
  flex: 1;
  position: relative;
  background: #E6EAEE;
  margin-bottom: 10px;
  height: 250px;
  max-height: 50vh;
  filter: grayscale(.75);
  border-top: 1px solid #E6EAEE;
  border-left: 1px solid #E6EAEE;
  border-right: 1px solid #E6EAEE;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  cursor: pointer;
  transition: filter .2s ease-in-out;
}
.card-md .image:hover {
  filter: grayscale(0);
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}
.card-md .image:before {
  position: absolute;
  content: ' ';
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 10px;
  box-shadow: 0 10px 30px 0 rgba(0,0,0,.15);
}
.card-md .image:hover:before {
  position: absolute;
  content: ' ';
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 10px;
  box-shadow: 0 20px 50px 0 rgba(0,0,0,.25);
}
.card-md .image--passed {
  border-bottom-color: var(--color-green);
}
.card-md .image--failed {
  border-bottom-color: var(--color-red-dark);
}
.card-md .image--running {
  animation: runningState 1s infinite alternate-reverse;
}
.card-md .image--never-run-before {
  border-bottom-color: lightgray;
}
@keyframes runningState {
  from { border-bottom-color: #87CEEB; }
  to { border-bottom-color: #00008B; }
}
.card-md .image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: relative;
}
.card-md .image:hover .favorite-icon,
.card-md .image:hover .delete-icon {
  box-shadow: 0 0 16px 4px white;
  background: #ffffff8c;
}
.card-md .image .favorite-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  color: var(--color-red);

  opacity: .25;
  cursor: pointer;
}
.card-md .image .delete-icon {
  position: absolute;
  right: 10px;
  bottom: 10px;

  opacity: .25;
  cursor: pointer;
}
.card-md .image .favorite-icon:hover,
.card-md .image .delete-icon:hover {
  opacity: .75;
}
.card-md .header {
  display: flex;
  justify-content: space-between;
}
.card-md .header .left {
  font-size: 16px;
  color: #1F1F1F;
  cursor: pointer;
}
.card-md .header .left i {
  margin-left: .5em;
  cursor: pointer;
  font-size: 12px;
  opacity: .75;
}
.card-md .header .left i.icon--running {
  color: var(--color-blue);
  cursor: default;
  animation: rotatingIcon 10s linear infinite;
}
@keyframes rotatingIcon {
  from { transform:rotate(0deg); }
  to { transform:rotate(1440deg); }
}
.card-md .header .left i:hover {
  opacity: 1;
}
.card-md .header .right {
  color: var(--color-green);
  font-size: 11px;
  letter-spacing: 2px;
}
.card-md .header .right .failed {
  color: var(--color-red);
}

.card-lg {
  width: 608px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 50px;
}
.card-lg:before {
  position: absolute;
  content: ' ';
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 10px;
  box-shadow: 0 20px 50px 0 rgba(0,0,0,.25);
}
.card-lg .image {
  flex: 1;
  position: relative;
  background: #E6EAEE;
  height: 374px;
  max-height: 50vh;
}
.card-lg .image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.card-lg .tags {
  position: absolute;
  top: 8px;
  right: 8px;
}
.card-lg .tags .tag {
  background: #F4F4F4;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  color: #838383;
  padding: 2px 8px;
  cursor: pointer;
}
.card-lg .tags .tag--active {
  color: #EAEAEA;
  background: #4D4D4D;
}
.card-lg .info-panel {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;

  background: #F8F8F8;
}
.card-lg .info-panel .left .header {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 4px;
  cursor: pointer;
}
.card-lg .info-panel .left .description {
  color: #1F1F1F;
  font-size: 14px;
  font-weight: 400;
}
.card-lg .info-panel .left .label {
  font-size: 14px;
  color: #ffffff;
  padding: 1px 6px;
  width: fit-content;
}
.card-lg .info-panel .left .label--passed {
  background: var(--color-green);
  border-left: 4px solid var(--color-green-dark);
}
.card-lg .info-panel .left .label--failed {
  background: var(--color-red);
  border-left: 4px solid var(--color-red-dark);
}
.card-lg .info-panel .right .card-button {
  background: #8AC1F4;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 6px 16px;
  cursor: pointer;
}
.card-lg .info-panel .right .card-button:hover {
  filter: hue-rotate(-60deg);
}


/* TABLE CELLS */
.runs-table {
  width: 100%;
  border-collapse: collapse;
}
.runs-table tr {
  height: 70px;
}
.runs-table tr:hover {
  background: rgba(138, 224, 255, 0.15);
}
.runs-table tr td {
  border-top: 1px solid #F5F5F5;
}

.status-cell {
  display: flex;
  align-items: center;
}
.status-cell .status-icon {
  font-size: 24px;
}
.status-cell .status-icon--passed {
  color: #89CB8C;
}
.status-cell .status-icon--failed {
  color: var(--color-red);
}
.status-cell .status-icon--approved {
  color: #000000;
}
.status-cell .labels {
  margin-left: 12px;
}
.status-cell .labels .time-label {
  font-weight: 400;
  font-size: 16px;
  color: #565656;
  margin-bottom: 4px;
}
.status-cell .labels .state-label {
  font-size: 12px;
  font-weight: 400;
  color: #D2D2D2;
}

.user-cell {
  display: flex;
  align-items: center;
}
.user-cell .upic {
  width: 30px;
  height: 30px;
  color: #ffffff;
  background: #6087AB;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.user-cell .text {
  flex: 1;
  font-size: 16px;
  font-weight: 400;
  color: #565656;
  margin-left: 12px;
}

.more-cell .text {
  font-size: 16px;
  font-weight: 400;
}
.more-cell .more {
  color: #909090;
  background: #EEEEEE;
  padding: 2px 4px;
  border-radius: 4px;
  margin-left: .5em;
  cursor: pointer;
  position: relative;
}
.more-cell .more .hidden-more {
  display: none;
}
.more-cell .more:hover .hidden-more {
  font-size: 12px;

  display: inline;
  position: absolute;
  background: #484848;
  color: #ffffff;
  padding: 4px 6px;
  border-radius: 2px;
  bottom: 20px;
  max-width: 150px;
  width: max-content;
  line-height: 150%;
}

.action-cell--right {
  display: flex;
  justify-content: flex-end;
}
.action-cell .action-cell-icon {
  cursor: pointer;
  font-size: 24px;
}


/* WIDGETS */

.widget {
  width: 200px;
  height: 200px;
  border-radius: 16px;
  padding: 18px;
  box-shadow: 0 10px 20px 0 rgba(0,0,0,.15), 0 5px 5px 0 rgba(0,0,0,.05);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  user-select: none;
}
.widget + .widget {
  _margin-top: 16px;
}

.widget--blue {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.2));
  background-color: #85BEF4;
  color: #ffffff;
}
.widget--steel {
  background: linear-gradient(0deg, #82A7CA, #8DB6DC);
  color: #ffffff;
}
.widget--green {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.2));
  background-color: #79D27D;
  color: #000000;
}
.widget--gray {
  background: linear-gradient(0deg, #535C62, #757C81);
  color: #ffffff;
}
.widget--white {
  background: #F8F7F7;
  color: #000000;
}
.widget--double {
  width: 416px;
  max-width: 100%;
}

.widget .widget-header {
  font-size: 18px;
  font-weight: 400;
}
.widget .widget-value {
  padding-top: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.widget .widget-value--lg {
  font-size: 36px;
  font-weight: 400;
  line-height: 100%;
}
.widget .widget-value--accent {
  padding-top: 30px;
  font-size: 18px;
  font-weight: 400;
}
.widget .widget-value--accent em {
  font-size: 64px;
  font-style: normal;
}
.widget-value.widget-value--fragile {
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 18px;
  margin-bottom: 12px;
  max-width: 60%;
}
.widget-value.widget-value--stats {
  align-items: flex-start;
}

.fragile-value {
  font-size: 16px;
  text-align: left;
  line-height: 120%;
}
.fragile-value--accent {
  color: #000000;
  font-size: 18px;
}
.fragile-value--accent em {
  font-style: normal;
  font-size: 48px;
}
.fragile-preview {
  position: absolute;
  _width: 35%;
  height: 100%;
  top: 0;
  right: 0;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  object-fit: cover;
  cursor: pointer;

  width: 45%;
  clip-path: polygon(100% 0%, 100% 90%, 100% 100%, 35% 100%, 0% 90%, 25% 0%);
  opacity: .5;
  filter: hue-rotate(30deg) grayscale(90%);
  transition: opacity .3s ease-in-out, filter .3s ease-in-out;
}
.fragile-preview:hover {
  opacity: 1;
  filter: hue-rotate(0deg) grayscale(0%);
}

.stats-value {
  font-size: 36px;
  margin-top: 9px;
  margin-bottom: 7px;
}
.stats-sub {
  font-size: 12px;
  margin-bottom: 10px;
  letter-spacing: .5px;
}
.stats-chart {
  flex: 1;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  max-width: 100%;
  width: 100%;
  border-bottom: 1px solid rgba(255,255,255, .17);
}

.stats-chart .bar {
  background: rgba(255,255,255, .17);
  width: 12px;
  min-height: 3px;
  margin-right: 4px;
}
.stats-chart .bar:hover {
  background: rgba(255,255,255, .50);
}
.stats-chart .bar--hl {
  background: #ffffff;
  border-top: 3px solid #47A066;
}

.widget-run {
  width: 311px;
  height: 416px;
  border-radius: 16px;
  padding: 26px;
}
.widget-run .run-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.widget-run .run-form .input-box {
  border-width: 2px;
  border-radius: 4px;
  box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.25);
}
.widget-run .run-form .actions {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}


/* VIEWPORTS SELECTOR */

.viewports-selector-header {
  font-weight: 500;
  font-size: 16px;
  color: #1F1F1F;
}
.viewports-selector {
  margin-top: 10px;
  overflow-wrap: break-word;
}
.viewports-selector .viewport-toggle {
  font-size: 14px;
  font-weight: normal;
  color: #656565;
  background: #FFFFFF;
  border-radius: 4px;
  line-height: 27px;
  padding: 3px 6px;
  cursor: pointer;
  opacity: .3;
  transition: opacity .2s ease-in-out, background-color .2s ease-in-out;

  margin-left: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.viewports-selector .viewport-toggle--on {
  opacity: 1;
  color: #414141;
  font-weight: 500;
}
.viewports-selector .viewport-toggle:hover {
  opacity: .6;
}
.viewports-selector .viewport-toggle--on:hover  {
  opacity: .85;
}

.sidebar-placeholder .viewports-selector .viewport-toggle {
  font-size: 16px;
  font-weight: normal;
  background: #E2E2E2;
  color: #3A3A3A;
  padding: 9px 12px;
  line-height: 300%;
  margin-right: 16px;
  margin-left: 0;
  opacity: 1;
}
.sidebar-placeholder .viewports-selector .viewport-toggle--on {
  background: var(--color-blue);
}


/* LABELS */

.widget-label {}
.widget-label--xl .header {
  margin-bottom: 8px;
  font-size: 24px;
  margin-top: 0;
}
.widget-label .state {
  color: #ffffff;
  text-align: center;

}
.widget-label--xl .state {
  font-size: 7.4vh;
  font-weight: bold;
  margin-bottom: 36px;
  border-radius: 8px;
  padding: 8px 1.875vw;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.widget-label .state--passed {
  background: var(--color-green);
  border-left: 7px solid var(--color-green-dark);
}
.widget-label .state--failed {
  background: var(--color-red);
  border-left: 7px solid var(--color-red-dark);
}
.widget-label .stats {
  display: flex;
  width: 100%;
}
.widget-label .stats .stats-left,
.widget-label .stats .stats-right {
  flex: 1;
  font-size: 18px;
  font-weight: normal;
}
.widget-label .stats .stats-left em,
.widget-label .stats .stats-right em {
  font-weight: bold;
  font-style: normal;
}
