<div
  class="config-section"
  [ngClass]="{
    'theme-yellow': theme === 'yellow'
  }"
>

  <div class="header">
    <h4>
      <i class="material-icons">{{ icon }}</i>
      <span>{{ header }}</span>
    </h4>
    <i class="material-icons action-button" (click)="headerActionClick.emit()">{{headerActionIcon || 'add_circle_outline'}}</i>
  </div>

  <ul class="items">
    <li
      *ngFor="let item of items" class="item-value"
      (click)="itemClick.emit(item)"
      [ngClass]="{'item-value--active': item[itemValue] === selected}"
    ><span>{{ item[itemValue] }}</span><i *ngIf="itemActionIcon" class="material-icons tiny" (click)="itemActionClick.emit(item)">{{ itemActionIcon }}</i></li>
  </ul>

</div>

