<div class="card-md">
  <div class="image"
       [ngClass]="{
        'image--passed': state === 'passed',
        'image--failed': state === 'failed',
        'image--running': state === 'running',
        'image--never-run-before': state === '',
        'full--height': fullHeightModeOn
       }"
  >
    <img (click)="clickCard.emit(itemId)" [src]="imageUrl" alt="">

    <app-icon
      *ngIf="isFavorite"
      icon="Favorite Enabled"
      customClass="favorite-icon"
      (click)="clickFavorite.emit(itemId)">
    </app-icon>

    <app-icon
      *ngIf="!isFavorite"
      icon="Favorite Disabled"
      customClass="favorite-icon"
      (click)="clickFavorite.emit(itemId)">

    </app-icon>

    <app-icon
      icon="Delete"
      customClass="delete-icon"
      (click)="clickDelete.emit(itemId)">
    </app-icon>

  </div>
  <div class="header">
    <span class="left">
      <span (click)="clickCard.emit(itemId)">{{ header }}</span>

      <app-icon
        (click)="clickRun.emit(itemId)"
        [icon]="state !== 'running' ? 'Run' : 'Running Spinning'">
      </app-icon>

    </span>
    <span class="right">

      <app-icon
        *ngFor="let passed of runs"
        [icon]=" passed ? 'Passed' : 'Close' "
        [customClass]=" !passed ? 'failed' : undefined">
      </app-icon>

    </span>
  </div>
</div>
