<app-sidebar-page-layout
  [title]="'Test Scenarios'"
  [description]="'Each scenario will test one page, component or action against one or many viewport sizes'">

  <div class="page-actions-placeholder">
    <ul class="page-actions">
      <li class="title-actions-item">
        <button class="button button--white" (click)="removeFilteredScenariosHandler()">Remove Filtered</button>
       </li>
      <li class="title-actions-item">
        <button class="button button--white" (click)="runFilteredScenariosHandler()">Run Filtered</button>
      </li>
      <li class="title-actions-item">
        <button class="button button--dark" (click)="addScenarioHandler()">Add New Scenario</button>
      </li>
    </ul>
  </div>

  <div class="data-actions-placeholder">
    <div>
      <app-data-search-button
        [label]="'Search scenario'"
        (changed)="search($event)">
      </app-data-search-button>
    </div>
    <div>

      <app-data-action-button
        [label]="'Refresh'"
        [icon]="'Refresh'"
        [hideLabelOnXS]="true"
        (clicked)="refresh()">
      </app-data-action-button>

      <app-data-action-button
        class="except-xs"
        [label]="'List View'"
        [icon]="'List View'"
        [hideLabelOnXS]="true"
        (clicked)="listView()">
      </app-data-action-button>

      <app-data-action-button
        [label]="'Show Differences'"
        [icon]="'Show Differences'"
        [hideLabelOnXS]="true"
        (clicked)="showDifference()">
      </app-data-action-button>

    </div>
  </div>

  <div class="data-placeholder">

    <div class="app-card xs12 m6 m4 l3" *ngFor="let scenario of scenarios$ | async">

      <app-card-md
        [itemId]="scenario._id"
        [header]="scenario.label"
        [state]="scenario.state"
        [isFavorite]="scenario.meta_isFavorite"
        [imageUrl]="'/assets/images/stubs/screen11.png'"
        [runs]="[]"
        (clickRun)="runScenarioHandler($event, scenario.label)"
        (clickFavorite)="favoriteScenarioHandler($event)"
        (clickCard)="selectScenarioHandler($event)"
        (clickDelete)="deleteScenarioHandler($event)"
      >
      </app-card-md>

    </div>

  </div>

  <div class="sidebar-placeholder">

    <div class="sidebar-header">
      <h2>{{ (scenarios$ | async).length }} Pages <br><small>tested</small> </h2>
      <span>12 stable</span><span>2 fragile</span>
    </div>
    <div class="app-filters">

      <h3 class="filter-header">Filter by Status</h3>

      <app-checkbox-field
        [label]="'Passed in the last run'"
        (changed)="changeStatusFilter_Passed($event)">
      </app-checkbox-field>

      <app-checkbox-field
        [label]="'Failed in the last run'"
        (changed)="changeStatusFilter_Failed($event)">
      </app-checkbox-field>


      <h3 class="filter-header">Filter by Viewport Size</h3>
      <h4 class="filter-subheader">Desktop</h4>
      <app-viewports-selector
        [viewports]="viewports$ | async"
        (selectionChanged)="changeViewportsFilter($event)"
      >
      </app-viewports-selector>

      <!--
      <h4 class="filter-subheader">Mobile</h4>
      <app-viewports-selector
        [viewports]="['1920 × 1080', '1600 × 900', '1270 × 720', '1024 × 1366', '1024 × 768']"
        (selectionChanged)="changeViewportsFilter($event)"
      >
      </app-viewports-selector>
      -->

    </div>

  </div>

  <div class="xs-filters-placeholder">

    <app-data-action-button
      [label]="'Add Filters'"
      [icon]="'Add Filters'"
      (clicked)="showMobileFilters($event)">
    </app-data-action-button>

  </div>

</app-sidebar-page-layout>
