<app-sidebar-page-layout
  [title]="'Test Scenarios'"
  [description]="'Each scenario will test one page, component or action against one or many viewport sizes'"
>

  <div class="page-actions-placeholder">
    <ul class="page-actions">
      <li class="title-actions-item">
        <button class="button button--white">Remove Filtered</button>
       </li>
      <li class="title-actions-item">
        <button class="button button--white">Run Filtered</button>
      </li>
      <li class="title-actions-item">
        <button class="button button--dark">Add New Scenario</button>
      </li>
    </ul>
  </div>

  <div class="data-actions-placeholder">
    <div>actions</div>
    <div>actions</div>
  </div>

  <div class="data-placeholder">

    <div class="app-card xs12 m6 m4 l3 xl2">Card</div>
    <div class="app-card xs12 m6 m4 l3 xl2">Card</div>
    <div class="app-card xs12 m6 m4 l3 xl2">Card</div>
    <div class="app-card xs12 m6 m4 l3 xl2">Card</div>
    <div class="app-card xs12 m6 m4 l3 xl2">Card</div>
    <div class="app-card xs12 m6 m4 l3 xl2">Card</div>
    <div class="app-card xs12 m6 m4 l3 xl2">Card</div>
    <div class="app-card xs12 m6 m4 l3 xl2">Card</div>
    <div class="app-card xs12 m6 m4 l3 xl2">Card</div>
    <div class="app-card xs12 m6 m4 l3 xl2">Card</div>

  </div>

  <div class="sidebar-placeholder">
    <h2>14 Pages <br><small>tested</small> </h2>
    <span>12 stable 2 fragile</span>
    <div class="app-filters">Sidebar filters</div>
  </div>

  <div class="xs-filters-placeholder">
    Filters (xs)
  </div>

</app-sidebar-page-layout>
