<app-sidebar-page-layout
  [title]="title$ | async"
  [customDescription]="true"
  [breadcrumb]="true"
>

  <div class="breadcrumb-placeholder">
    <span class="breadcrumb-item breadcrumb-item--link" [routerLink]="['/jobs']">Jobs History</span>
    <span class="breadcrumb-item">Job: 12/31/2019 11:27:10 PM</span>
  </div>

  <div class="description-placeholder">

    <app-info-table
      [items]="jobDescriptionInfo$ | async"
      [labelsAndProps]="[
        { label: 'Scenarios', prop: 'scenarios'},
        { label: 'Viewports', prop: 'viewports', chips: true },
        { label: 'Run by', prop: 'startedBy' }
      ]">
    </app-info-table>

  </div>

  <div class="page-actions-placeholder">

    <ul class="page-actions">
      <li class="title-actions-item">
        <button class="button button--white" (click)="runFilteredScenariosHandler()">Run All Again</button>
      </li>
      <li class="title-actions-item">
        <button class="button button--dark" (click)="addScenarioHandler()">Approve All Failed Cases ({{(sidebarHeaderInfo$ | async).failedCases}})</button>
      </li>
    </ul>

  </div>

  <div class="data-actions-placeholder">
    <div>
      <app-data-search-button
        [label]="'Search case'"
        (changed)="search($event)">
      </app-data-search-button>
    </div>
    <div>

      <app-data-action-button
        [label]="'Reference'"
        [icon]="'Reference'"
        [hideLabelOnXS]="true"
        (clicked)="showReferenceImage()">
      </app-data-action-button>
      <app-data-action-button
        [label]="'Test'"
        [icon]="'Test'"
        [hideLabelOnXS]="true"
        (clicked)="showTestImage()">
      </app-data-action-button>
      <app-data-action-button
        [label]="'Difference'"
        [icon]="'Difference'"
        [hideLabelOnXS]="true"
        (clicked)="showDifferenceImage()">
      </app-data-action-button>

      <app-data-action-button
        class="except-xs"
        [label]="'Group by Scenarios'"
        [icon]="'Group by Scenarios'"
        [hideLabelOnXS]="true"
        (clicked)="groupByScenarios()">
      </app-data-action-button>

      <app-data-action-button
        class="except-xs"
        [label]="'Full Height'"
        [icon]="'Full Height'"
        [hideLabelOnXS]="true"
        (clicked)="fullHeightMode()">
      </app-data-action-button>

      <app-data-action-button
        [label]="'List View'"
        [icon]="'List View'"
        (clicked)="listView()">
      </app-data-action-button>


    </div>
  </div>

  <div class="xs-filters-placeholder">

    <app-data-action-button
      [label]="'Add Filters'"
      [icon]="'Add Filters'"
      (clicked)="showMobileFilters($event)">
    </app-data-action-button>

  </div>

  <div class="data-placeholder">

    <div class="app-card app-card--two-in-row xs12" *ngFor="let c of cases$ | async; index as idx">

      <app-card-lg
        [label]="c.label"
        [imageUrl]="c.test"
        [hoverImageUrl]="c.difference"
        [viewports]="[c.viewport]"
        [status]="c.status"
        [errorMessage]="c.error"
        [switchOnMouseOver]="true"
        (clickCard)="clickCardHandler(idx)"
        (clickLabel)="clickLabelHandler(c.scenarioId)"
        (clickApprove)="clickApproveHandler(c)"
      >
      </app-card-lg>

    </div>

  </div>

  <div class="sidebar-placeholder">

    <div class="sidebar-header">

      <div class="widget-label widget-label--xl">
        <div class="header header--semibold">
          {{ (sidebarHeaderInfo$ | async).failedCases }}
          of {{ (sidebarHeaderInfo$ | async).totalCases }}
          Test Cases
        </div>
        <div
          class="state"
          *ngIf="(sidebarHeaderInfo$ | async).status"
             [ngClass]="{
             'state--failed': (sidebarHeaderInfo$ | async).status === 'Failed',
             'state--passed': (sidebarHeaderInfo$ | async).status !== 'Failed'
             }"
        >
          {{ (sidebarHeaderInfo$ | async).status }}
        </div>
      </div>


    </div>
    <div class="app-filters">

      <h3 class="filter-header">Filter by State</h3>

      <app-checkbox-field
        [label]="'Show Successful Cases'"
        (changed)="changeStatusFilter_Passed($event)"
        [checked]="true"
      >
      </app-checkbox-field>

      <app-checkbox-field
        [label]="'Show Failed Cases'"
        (changed)="changeStatusFilter_Failed($event)"
        [checked]="true"
      >
      </app-checkbox-field>


      <h3 class="filter-header">Filter by Viewport Size</h3>
      <app-viewports-selector
        [viewports]="viewports$ | async"
        (selectionChanged)="changeViewportsFilter($event)"
      >
      </app-viewports-selector>

    </div>

  </div>

</app-sidebar-page-layout>
